@model PUPFMIS.Models.UnitOfMeasure

<div class="modal-header">
    <h4 class="modal-title">View Purged Unit of Measure</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" id="form-body">
    <h5>@Html.DisplayNameFor(m => m.UnitName): @Html.DisplayFor(m => m.UnitName).ToString().ToUpper()</h5>
    <br />
    <h6>Other Details:</h6>
    <table class="table">
        <tr>
            <td width="30%"><strong>@Html.DisplayNameFor(model => model.Abbreviation)</strong></td>
            <td>@Html.DisplayFor(model => model.Abbreviation)</td>
        </tr>
        <tr>
            <td width="30%"><strong>@Html.DisplayNameFor(model => model.DeletedAt)</strong></td>
            <td>@DateTime.Parse(Html.DisplayFor(model => model.DeletedAt).ToString()).ToString("dd MMMM yyyy hh:mm tt")</td>
        </tr>
        <tr>
            <td width="30%"><strong>@Html.DisplayNameFor(model => model.CreatedAt)</strong></td>
            <td>@DateTime.Parse(Html.DisplayFor(model => model.CreatedAt).ToString()).ToString("dd MMMM yyyy hh:mm tt")</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="form-group">
        @using (Ajax.BeginForm("restore", "UnitOfMeasure", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "modal-container", OnSuccess = "CloseModal" }, htmlAttributes: new { id = "restoreUnit" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="save-btn"><i class="fa fa-trash-restore"></i>&nbsp; Restore record</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp; Close</button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $("#save-btn").on('click', function (e)
    {
        e.preventDefault();
        swal.fire({
            title: "Restore record?",
            text: "You are about to restore the purged record, continue?",
            type: "warning",
            showCancelButton: true,
        }).then((result) =>
        {
            if (result.value)
            {
                $("#restoreUnit").submit();
            }
        })
    });
    function CloseModal(data) {
        if (data.status === "success") {
            $('#modal-default').modal('hide');
            toastr.success('Unit of measure recored is restored!', 'Restore', { timeOut: 10000, preventDuplicates: false });
            window.location.href = "@Url.Action("index", "UnitOfMeasure")";
        }
    };
</script>