@model PUPFMIS.Models.BiddingProjectVM

@{
    ViewBag.Title = "Competitive Bidding Projects";
    ViewBag.Description = "Create";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">Bidding Projects</li>
        <li class="breadcrumb-item">Create</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-bookmark"></i> Create New Bidding Project</h3>
}

@using (Ajax.BeginForm("create-bidding-project", "ProcurementProjects", new { Area = "procurement" }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult", UpdateTargetId = "form-container" }, htmlAttributes: new { id = "addItem" }))
{
    <div id="form-container">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">Competitive Bidding Project Details</h5>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => Model.BiddingType, htmlAttributes: new { @class = "col-form-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                        </div>
                        @Html.EditorFor(model => Model.BiddingType, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled" } })
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => Model.ProcurementProgram, htmlAttributes: new { @class = "col-form-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-file"></i></span>
                        </div>
                        @Html.EditorFor(model => Model.ProcurementProgram, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled" } })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">Bidding Project Items</h5>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center; vertical-align:middle" width="15%">Ref. APP</th>
                            <th style="text-align:center; vertical-align:middle" width="10%">@Html.DisplayNameFor(model => model.BiddingDetails.First().IncludeToProject)</th>
                            <th style="text-align:center; vertical-align:middle" width="20%">@Html.DisplayNameFor(model => model.BiddingDetails.First().AlternativeModes)</th>
                            <th style="text-align:center; vertical-align:middle" width="40%">Item and Specifications</th>
                            <th style="text-align:center; vertical-align:middle" width="15%">@Html.DisplayNameFor(model => model.BiddingDetails.First().EndUser)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = 0; i < Model.BiddingDetails.Count; i ++)
                        {
                            <tr>
                                <td style="text-align:center; vertical-align:top;">
                                    <span style="white-space: pre-line">@Html.DisplayFor(modelItem => Model.BiddingDetails[i].ReferenceAPP)</span>
                                </td>
                                <td style="text-align:center; vertical-align:top">
                                    @if (Model.BiddingDetails[i].IncludeToProject)
                                    {
                                        @Html.CheckBoxFor(m => Model.BiddingDetails[i].IncludeToProject, htmlAttributes: new { disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => Model.BiddingDetails[i].IncludeToProject)
                                    }
                                </td>
                                <td style="text-align:left; vertical-align:top">@Html.DisplayFor(modelItem => Model.BiddingDetails[i].AlternativeModes)</td>
                                <td style="text-align:justify; vertical-align:top">
                                    <div class="row m-0 p-0">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(modelItem => Model.BiddingDetails[i].ItemCode)
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.DisplayFor(modelItem => Model.BiddingDetails[i].ItemCode)
                                        </div>
                                    </div>
                                    <div class="row m-0 p-0">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(modelItem => Model.BiddingDetails[i].ItemName)
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.DisplayFor(modelItem => Model.BiddingDetails[i].ItemName)
                                        </div>
                                    </div>
                                    <div class="row m-0 p-0">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(modelItem => Model.BiddingDetails[i].ItemSpecifications)
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.DisplayFor(modelItem => Model.BiddingDetails[i].ItemSpecifications)
                                        </div>
                                    </div>
                                    <div class="row m-0 p-0">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(modelItem => Model.BiddingDetails[i].UnitOfMeasure)
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.DisplayFor(modelItem => Model.BiddingDetails[i].UnitOfMeasure)
                                        </div>
                                    </div>
                                    <div class="row m-0 p-0">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(modelItem => Model.BiddingDetails[i].Quantity)
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.DisplayFor(modelItem => Model.BiddingDetails[i].Quantity)
                                        </div>
                                    </div>
                                    <div class="row m-0 p-0">
                                        <div class="col-sm-3">
                                            @Html.LabelFor(modelItem => Model.BiddingDetails[i].ApprovedBudget)
                                        </div>
                                        <div class="col-sm-9">
                                           @Model.BiddingDetails[i].ApprovedBudget.ToString("C", new System.Globalization.CultureInfo("en-PH"))
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align:center; vertical-align:top">
                                    @Html.DisplayFor(modelItem => Model.BiddingDetails[i].EndUser)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section FormFooter {
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick=""><i class="fa fa-save"></i>&nbsp; Save Bidding Project</button>
                <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("select-bidding-type", "ProcurementProjects", new { Area = "procurement" })'"><i class="fa fa-arrow-alt-circle-left"></i>&nbsp; Back to Selection</button>
            </div>
        </div>
    </div>
}