@model IEnumerable<PUPFMIS.Models.Item>

@{
    ViewBag.Title = "Items";
    ViewBag.Description = "Master";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
    <li class="breadcrumb-item">@Html.ActionLink("Items Master", "list", "Items", new { Area = "administration" }, null)</li>
    <li class="breadcrumb-item">Home</li>
</ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Items List</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button style="text-align:left;" class="btn btn-info btn-md" onclick='window.location = "@Url.Action("create", "Items")"'><i class="fa fa-plus"></i> Add New Item Record</button>
            <button style="text-align:left;" class="btn btn-secondary btn-md" onclick='window.location = "@Url.Action("restore-list", "Items")"'><i class="fa fa-trash-restore"></i> Restore Deleted Item Record</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center;" width="80%">
                            @Html.DisplayNameFor(model => model.ItemSpecifications)
                        </th>
                        <th style="text-align:center;" width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(d => d.ItemFullName).ThenBy(d => d.ItemCode))
                    {
                        <tr>
                            <td style="text-align:center; vertical-align:top;" width="20%">
                                @if (item.ItemImage != null)
                                {
                                    var base64 = Convert.ToBase64String(item.ItemImage);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                    <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                                }
                                else
                                {
                                    <img src='~/Content/imgs/PUPLogo.png' style="max-width:100px;max-height:100px" />
                                }
                            </td>
                            <td align="justify" width="60%">
                                <h5 style="text-align:left;">@Html.DisplayFor(modelItem => item.ItemFullName) <small>(@Html.DisplayFor(modelItem => item.ItemCode))</small></h5>
                                <hr />
                                @if (item.ItemSpecifications != null)
                                {
                                    <b>Item Specifications:</b>
                                    <br />
                                    <i>
                                        <span style="white-space:pre-line">@Html.DisplayFor(modelItem => item.ItemSpecifications)</span>
                                    </i>
                                    <br />
                                    <br />
                                }
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12"><b>@Html.DisplayNameFor(model => model.FKArticleReference.FKItemTypeReference.FKItemClassificationReference.Classification)</b></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12"><b>:</b> @Html.DisplayFor(modelItem => item.FKArticleReference.FKItemTypeReference.FKItemClassificationReference.Classification)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12"><b>@Html.DisplayNameFor(model => model.FKArticleReference.ArticleName)</b></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12"><b>:</b> @Html.DisplayFor(modelItem => item.FKArticleReference.ArticleName)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12"><b>@Html.DisplayNameFor(model => model.ProcurementSource)</b></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12"><b>:</b> @( item.ProcurementSource == PUPFMIS.Models.ProcurementSources.AgencyToAgency ? "Procurement System - Department of Budget and Management" : "External Suppliers" )</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12"><b>@Html.DisplayNameFor(model => model.CategoryReference)</b></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12"><b>:</b> @Html.DisplayFor(modelItem => item.FKCategoryReference.ItemCategoryName)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12"><b>@Html.DisplayNameFor(model => model.QuantityPerPackage)</b></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12"><b>:</b> @Html.DisplayFor(modelItem => item.QuantityPerPackage) @Html.DisplayFor(modelItem => item.FKIndividualUnitReference.UnitName) / @Html.DisplayFor(modelItem => item.FKPackagingUnitReference.UnitName)</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12"><b>@Html.DisplayNameFor(model => model.MinimumIssuanceQty)</b></div>
                                    <div class="col-lg-8 col-md-8 col-sm-12"><b>:</b> @Html.DisplayFor(modelItem => item.MinimumIssuanceQty) @Html.DisplayFor(modelItem => item.FKIndividualUnitReference.UnitName)</div>
                                </div>
                            </td>
                            <td align="center" valign="top">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" title="View Details" onclick="window.location = '@Url.Action("details","Items", new { Area = "administration", ItemCode = item.ItemCode })'"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Edit Record" onclick="window.location = '@Url.Action("update","Items", new { Area = "administration", ItemCode = item.ItemCode })'"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Purge Record" onclick="window.location = '@Url.Action("delete","Items", new { Area = "administration", ItemCode = item.ItemCode })'"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>