@model PUPFMIS.Models.PPMPCSEViewModel

@{
    ViewBag.Title = "PPMP";
    ViewBag.Description = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPMP", "index")</li>
        <li class="breadcrumb-item">Details</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> @Model.PPMPHeader.PPMPType: @Model.PPMPHeader.ReferenceNo</h1>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button class="btn btn-info btn-md" onclick='window.location = "@Url.Action("print-ppmp", "PPMPCSE", new { ReferenceNo = Model.PPMPHeader.ReferenceNo })"'><i class="fa fa-print"></i> Print PPMP</button>
            @if (Model.PPMPHeader.Status == "New")
            {
                <button class="btn btn-success btn-md" id="submitPPMP"><i class="fa fa-share"></i> Submit PPMP</button>
            }
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index", "PPMP")'"><i class="fa fa-times-circle"></i> Back</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <h4>PPMP Information</h4>
        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PPMPHeader.ReferenceNo, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                        </div>
                        @Html.EditorFor(model => model.PPMPHeader.ReferenceNo, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PPMPHeader.ReferenceNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PPMPHeader.FiscalYear, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(model => model.PPMPHeader.FiscalYear, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PPMPHeader.FiscalYear, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PPMPHeader.CreatedAt, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar-check"></i></span>
                        </div>
                        @Html.EditorFor(model => model.PPMPHeader.CreatedAt, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;", Value = Model.PPMPHeader.CreatedAt.Value.ToString("dd MMMM yyyy hh:mm tt") } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PPMPHeader.CreatedAt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.PPMPHeader.PreparedBy, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        @Html.EditorFor(model => model.PPMPHeader.PreparedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PPMPHeader.PreparedBy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="card card-info card-outline">
    <div class="card-header d-flex p-0">
        <ul class="nav nav-pills p-2">
            <li class="nav-item"><a class="nav-link active" href="#workflow" data-toggle="tab"><i class="fa fa-briefcase"></i>&nbsp; Workflow</a></li>
            <li class="nav-item"><a class="nav-link" href="#ppmp" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; PPMP Line Items</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="workflow">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <div class="card-body table-responsive p-sm-0">
                            <table class="table table-striped table-hover" id="workflowItems">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;" width="20%">Date</th>
                                        <th style="text-align: center; vertical-align: middle;" width="35%">Details</th>
                                        <th style="text-align: center; vertical-align: middle;" width="20%">Status</th>
                                        <th style="text-align: center; vertical-align: middle;" width="25%">Office / Personnel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Workflow as IEnumerable<PUPFMIS.Models.PPMPApprovalWorkflowViewModel>)
                                    {
                                        <tr>
                                            <td><b>@item.UpdatedAt.ToString("dd MMM yyyy hh:mm tt")</b></td>
                                            <td align="justify">@item.Remarks</td>
                                            <td>@item.Status</td>
                                            <td>@item.Office<br /><i>@item.Personnel</i></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="ppmp">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-body table-responsive p-sm-0">
                                    <table class="table table-striped table-hover" id="dbmItems">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" style="text-align: center; vertical-align: middle;">Item Specifications</th>
                                                <th colspan="4" style="text-align: center;">Quarterly Requirement</th>
                                                <th rowspan="2" style="text-align: center; vertical-align: middle;">Total<br />Quantity</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center;">Qtr 1</th>
                                                <th style="text-align: center;">Qtr 2</th>
                                                <th style="text-align: center;">Qtr 3</th>
                                                <th style="text-align: center;">Qtr 4</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PPMPItems.Count != 0)
                                            {
                                                foreach (var item in Model.PPMPItems)
                                                {
                                                    <tr>
                                                        <td style="text-align: justify; vertical-align: middle;" width="40%">
                                                            <b>@item.FKItem.ItemName</b> <small>(@item.FKItem.ItemCode)</small>
                                                            <br />
                                                            <i>@item.FKItem.ItemSpecifications</i>
                                                            <br />
                                                            <b>Unit</b> : @item.FKItem.FKIndividualUnitReference.UnitName
                                                        </td>
                                                        <td style="text-align: center; vertical-align: middle;" width="10%">@item.Qtr1</td>
                                                        <td style="text-align: center; vertical-align: middle;" width="10%">@item.Qtr2</td>
                                                        <td style="text-align: center; vertical-align: middle;" width="10%">@item.Qtr3</td>
                                                        <td style="text-align: center; vertical-align: middle;" width="10%">@item.Qtr4</td>
                                                        <td style="text-align: center; vertical-align: middle;" width="20%">@item.TotalQty</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="7" align="center">*** No items ***</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#dbmItems').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#nonDBMItems').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#workflowItems').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $("#submitPPMP").on('click', function (e) {
        e.preventDefault();
        swal.fire({
            title: "Submit PPMP?",
            text: "Submitting your PPMP shall be mean that it is final and is subject for approval, continue?",
            type: "warning",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "@Url.Action("submitPPMP", "PPMPCSE")",
                    data: { ReferenceNo: '@Model.PPMPHeader.ReferenceNo.ToString()' },
                    success: window.location = "@Url.Action("index","PPMP")"
                })
            }
        })
    });
</script>