@{
    ViewBag.Title = "Suppliers";
    ViewBag.Description = "Create Record";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Suppliers", "list")</li>
        <li class="breadcrumb-item">Create</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> New Supplier</h3>
}

@using (Ajax.BeginForm("create", "Suppliers", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "form-body", OnSuccess = "CloseModal" }, htmlAttributes: new { id = "addUnit" }))
{
    <div id="form-body">
        @Html.Partial("_Form")
    </div>
}

@section FormFooter {
    <div class="float-right">
        <button type="button" class="btn btn-primary" onclick="SaveSupplier()"><i class="fa fa-save"></i>&nbsp; Save changes</button>
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("list", "Suppliers")'"><i class="fa fa-arrow-circle-left"></i>&nbsp; Back to List</button>
    </div>
}


<script type="text/javascript">
    function SaveSupplier() {
        swal.fire({
            icon: "question",
            title: "Save record?",
            text: "You are about to save this record, continue?",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#addUnit").submit();
            }
        })
    };
    function CloseModal(data) {
        if (data.result === true) {
            $('#modal-default').modal('hide');
            if (data.result == true) {
                swal.fire({
                    icon: "success",
                    title: "Record Saved!",
                    text: "Record is successfully saved."
                }).then((result) => {
                    if (result.value) {
                        window.location.href = "@Url.Action("list", "Suppliers", new { Area = "administration" })";
                    }
                })
            }
            else {
                swal.fire({
                    title: "Record Not Saved!",
                    text: "Saving record failed.",
                    icon: "error"
                })
            }
        }
        else {
            $("#Categories").select2();
            $("#ItemTypes").select2();
        }
    };
</script>