@model PUPFMIS.Models.ProjectPlans

@{
    ViewBag.Title = "Project Planning";
    ViewBag.Description = "Create Project Plan";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "dashboard", "ProjectPlans", new { area = "end-users" }, null)</li>
        <li class="breadcrumb-item">Create Project Plan</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> New Project Plan</h1>
    </div>
}

@using (Html.BeginForm("create-project-plan", "ProjectPlans", FormMethod.Post))
{
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="col-sm-12">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ProjectCode)
                            @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("Unit", null, htmlAttributes: new { @class = "form-control form-control-sm", style = "font-size: 100%" })
                            @Html.ValidationMessageFor(model => model.FiscalYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%" } })
                            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FiscalYear, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("FiscalYear", null, htmlAttributes: new { @class = "form-control form-control-sm", style = "font-size: 100%" })
                            @Html.ValidationMessageFor(model => model.FiscalYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProjectMonthStart, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownList("ProjectMonthStart", null, htmlAttributes: new { @class = "form-control form-control-sm", style = "font-size: 100%" })
                            @Html.ValidationMessageFor(model => model.ProjectMonthStart, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Save Project</button>
                <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("dashboard", "Dashboard", new { area = "end-users" })'"><i class="fa fa-times-circle"></i>&nbsp; Cancel</button>
            </div>
        </div>
    </div>
}