@model IEnumerable<PUPFMIS.Models.ProjectPlanListVM>

@{
    ViewBag.Title = "Project Planning";
    ViewBag.Description = "End User Projects";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPMP", "index")</li>
        <li class="breadcrumb-item">Dashboard</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> End User Projects</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;" width="15%">
                            @Html.DisplayNameFor(model => model.ProjectCode)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="25%">
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="15%">
                            @Html.DisplayNameFor(model => model.Office)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="10%">
                            @Html.DisplayNameFor(model => model.ProjectStatus)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="15%">
                            @Html.DisplayNameFor(model => model.EstimatedBudget)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:left; vertical-align:middle;">
                                <b>@Html.DisplayFor(modelItem => item.ProjectCode)</b>
                            </td>
                            <td style="text-align:justify; vertical-align:middle;">
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td style="text-align:left; vertical-align:middle;">
                                @Html.DisplayFor(modelItem => item.Office)
                            </td>
                            <td style="text-align:left; vertical-align:middle;">
                                @Html.DisplayFor(modelItem => item.ProjectStatus)
                            </td>
                            <td style="text-align:right; vertical-align:middle;">
                                @( String.Format("{0:C}", item.EstimatedBudget ))
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                <button type="button" class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("project-details", "ProjectPlans", new { Area = "end-users", ProjectCode = item.ProjectCode })'"><i class="fa fa-eye"></i> View Details</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button style="text-align:left;" class="btn btn-danger btn-md" onclick="window.location = '@Url.Action("dashboard", "Dashboard")'"><i class="fa fa-arrow-circle-left"></i> Back to Dashboard</button>
        </div>
    </div>
</div>