@model PUPFMIS.Models.PurchaseRequest

@{
    ViewBag.Title = "Purchase Request";
    ViewBag.Description = "Update Status";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Purchase Request", "index")</li>
        <li class="breadcrumb-item">Update Status</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title">Update Purchase Request Status</h1>
    </div>
}

<div class="card card-info card-outline">
    <div class="card-header">
        <h1 class="card-title"><b>APR Details</b></h1>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Purchase Request No.</th>
                <td>19-03-023</td>
            </tr>
            <tr>
                <th>Date Prepared</th>
                <td>04 March 2019 11:13 AM</td>
            </tr>
        </table>
        <br />
    </div>
</div>
<br />
<div class="card card-info card-outline">
    <div class="card-header">
        <h1 class="card-title"><b>Status Update</b></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("", "Status", htmlAttributes: new { @class = "control-label" })
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "Transferred",
                            Selected = true
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "Check Issued"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "On-process (DBM)"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "For Delivery"
                        });
                    }
                    @Html.DropDownList("coverage", listItems, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("", "Updated by", htmlAttributes: new { @class = "control-label" })
                    @Html.Editor("Updatedby", new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = "Updated by" } })
                </div>
                <div class="form-group">
                    @Html.Label("", "Date Updated", htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" im-insert="false">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FormFooter {
    <div class="form-group float-right">
        <button type="submit" class="btn btn-primary" onclick="window.location = '@Url.Action("index", "AgencyProcurementRequest")'">Save changes</button>
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index", "AgencyProcurementRequest")'">Back</button>
    </div>
}
