@model IEnumerable<PUPFMIS.Models.PurchaseRequest>

@{
    ViewBag.Title = "Purchase Requests";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Purchase Requests", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h3 class="card-title"><i class="fa fa-list"></i> Submitted Purchase Requests</h3>
    </div>
}

<table class="table table-bordered table-hover" id="example2">
    <thead>
        <tr>
            <th width="10%">
                @Html.DisplayNameFor(model => model.PurchaseRequestNo)
            </th>
            <th width="10%">
                Fiscal Year
            </th>
            <th width="10%">
                End-User
            </th>
            <th width="25%">
                Purpose
            </th>
            <th width="15%">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                19-03-023
            </td>
            <td>
                FY 2019
            </td>
            <td>
                PSMO
            </td>
            <td>
                Equipment shall be used for the digitization of PSMO files.
            </td>
            <td align="center">
                <button type="button" class="btn btn-sm btn-primary" style="width:175px; margin-top:2px; margin-bottom: 2px;" onclick="window.location = '@Url.Action("details","PurchaseRequest", new { type = "procurement-office" })'"><i class="fa fa-eye"></i> View Details</button>
            </td>
        </tr>
        <tr>
            <td>
                19-01-016
            </td>
            <td>
                FY 2019
            </td>
            <td>
                PSMO
            </td>
            <td>
                For replacement of old desktop computers
            </td>
            <td align="center">
                <button type="button" class="btn btn-sm btn-primary" style="width:175px; margin-top:2px; margin-bottom: 2px;" onclick="window.location = '@Url.Action("details","PurchaseRequest", new { type = "procurement-office" })'"><i class="fa fa-eye"></i> View Details</button>
            </td>
        </tr>
        
    </tbody>
</table>
