@model IEnumerable<PUPFMIS.Models.PurchaseRequest>

@{
    ViewBag.Title = "My Purchase Requests";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("My Purchase Requests", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Purchase Requests</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button class="btn btn-info btn-md" onclick="window.location = '@Url.Action("create","PurchaseRequest")'"><i class="fa fa-plus"></i> Create New Purchase Request</button>
            <button style="text-align:left;" class="btn btn-secondary btn-md"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped" id="example2">
                <thead>
                    <tr>
                        <th width="10%">
                            @Html.DisplayNameFor(model => model.PurchaseRequestNo)
                        </th>
                        <th width="10%">
                            Fiscal Year
                        </th>
                        <th width="20%">
                            Date Prepared
                        </th>
                        <th width="20%">
                            Status
                        </th>
                        <th width="25%">
                            Purpose
                        </th>
                        <th width="15%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            19-03-023
                        </td>
                        <td>
                            FY 2019
                        </td>
                        <td>
                            04 March 2019 11:13 AM
                        </td>
                        <td style="vertical-align:middle; text-align:left;">
                            <span class="badge bg-secondary" style="font-size:100%;">&emsp; SUBMITTED &emsp;</span>
                            <br />
                            <i style="font-size:80%;">@DateTime.Now.ToString("dd MMMM yyyy hh:mmtt")</i>
                        </td>
                        <td>
                            Equipment shall be used for the digitization of PSMO files.
                        </td>
                        <td align="center">
                            <button type="button" class="btn btn-sm btn-primary" style="width:175px; margin-top:2px; margin-bottom: 2px;" onclick="window.location = '@Url.Action("details","PurchaseRequest", new { type = "requesting-office" })'"><i class="fa fa-eye"></i> View Details</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            19-01-016
                        </td>
                        <td>
                            FY 2019
                        </td>
                        <td>
                            20 January 2019 11:11 AM
                        </td>
                        <td style="vertical-align:middle; text-align:left;">
                            <span class="badge bg-success" style="font-size:100%;">&emsp; PROCUREMENT ON-GOING &emsp;</span>
                            <br />
                            <i style="font-size:80%;">@DateTime.Now.ToString("dd MMMM yyyy hh:mmtt")</i>
                        </td>
                        <td>
                            For replacement of old desktop computers
                        </td>
                        <td align="center">
                            <button type="button" class="btn btn-sm btn-primary" style="width:175px; margin-top:2px; margin-bottom: 2px;" onclick="window.location = '@Url.Action("details","PurchaseRequest", new { type = "requesting-office" })'"><i class="fa fa-eye"></i> View Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
