@model PUPFMIS.Models.Services

@{
    ViewBag.Title = "Services";
    ViewBag.Description = "Delete";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Services Master", "index")</li>
        <li class="breadcrumb-item">Delete</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> Purge Service</h1>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <h5>@Model.ServiceName <small>(@Model.ServiceCode)</small></h5>
        <br />
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h6>Other Details:</h6>
                <table class="table">
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.ItemShortSpecifications)</strong></td>
                        <td>@Html.DisplayFor(model => model.ItemShortSpecifications)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.FKCategoryReference.ItemCategoryName)</strong></td>
                        <td>@Html.DisplayFor(model => model.FKCategoryReference.ItemCategoryName)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.FKInventoryTypeReference.InventoryTypeName)</strong></td>
                        <td>@Html.DisplayFor(model => model.FKInventoryTypeReference.InventoryTypeName)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.CreatedAt)</strong></td>
                        <td>@Model.CreatedAt.ToString("dd MMMM yyyy hh:mm tt")</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>

<div class="form-group float-right">
    @using (Html.BeginForm("purge-service", "Services", FormMethod.Post, new { Area = "", id = "deleteService", ServiceCode = Model.ServiceCode }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ServiceCode)
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="save-btn"><i class="fa fa-trash"></i>&nbsp; Delete record</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("list", "Services", new { Area = "" })'"><i class="fa fa-arrow-circle-left"></i> Back</button>
        </div>
    }
</div>


<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $("#save-btn").on('click', function (e)
    {
        e.preventDefault();
        swal.fire({
            title: "Delete record?",
            text: "You are about to delete this record, continue?",
            type: "warning",
            showCancelButton: true,
        }).then((result) =>
        {
            if (result.value)
            {
                $("#deleteService").submit();
            }
        })
    });
    function CloseModal(data) {
        if (data.status === "success") {
            $('#modal-default').modal('hide');
            toastr.success('Unit of measure is deleted!', 'Delete', { timeOut: 10000, preventDuplicates: false });
            window.location.href = "@Url.Action("index", "UnitOfMeasure")";
        }
    };
</script>