@model PUPFMIS.Models.UsersVM

<div class="modal-header">
    <h4 class="modal-title">View User Account Record </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" id="form-body">
    <h5>@Model.Employee</h5>
    <br />
    <h6>Other Details:</h6>
    <table class="table">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Department)</strong></td>
            <td>@Html.DisplayFor(model => model.DepartmentCode) - @Html.DisplayFor(model => model.Department)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Unit)</strong></td>
            <td>@Html.DisplayFor(model => model.UnitCode) - @Html.DisplayFor(model => model.Unit)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.UserRole)</strong></td>
            <td>@Html.DisplayFor(model => model.UserRole)</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>