@model PUPFMIS.Models.LoginVM
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <h4>Finance Management Portal</h4>
    </div>
    <div class="card">
        @using (Html.BeginForm("login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.NoOfAttempts)
            <div class="card-body login-card-body">
                <br />
                <span>
                    @Html.ValidationMessageFor(d => Model, "", htmlAttributes: new { @class = "text-danger", style = "font-size: 10pt;" })
                </span>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-sm", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.Email) } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "font-size: 10pt;" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-sm", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.Password) } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "font-size: 10pt;" })
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Login" class="btn btn-primary col-md-12" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

