@model PUPFMIS.Models.ExpenditureObjects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExpenditureObjects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKOperatingExpenditure.UACS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKOperatingExpenditure.UACS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
