@model PUPFMIS.Models.InventoryAdjustmentSupplies
@{ 
    PUPFMIS.Models.SuppliesMaster supplyReference = new PUPFMIS.Models.SuppliesMaster();
}
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => supplyReference.StockNo, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                    @Html.EditorFor(m => supplyReference.StockNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(m => supplyReference.StockNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => supplyReference.FKItem, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                    </div>
                    @Html.EditorFor(m => supplyReference.FKItem.ItemName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => supplyReference.FKItem.ItemSpecifications, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-list-ul"></i></span>
                    </div>
                    @Html.EditorFor(m => supplyReference.FKItem.ItemSpecifications, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hand-point-right"></i></span>
                    </div>
                    @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                </div>
                @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-question"></i></span>
                    </div>
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "number", min = "0" } })
                </div>
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
