@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper px-2 py-2" style="min-height: 855px;">
    <section class="content-header p-2">
        <div class="container-fluid">
            <div class="row p-0">
                <div class="col-sm-6">
                    <h3 class="p-0">
                        @ViewBag.Title
                        <small>@ViewBag.Description</small>
                    </h3>
                </div>
                <div class="col-sm-6 p-1">
                    @RenderSection("BreadCrumb")
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card card-primary samp">
            <div class="card-header">
                @RenderSection("Header", false)
            </div>
            <div class="card-body small">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script type="text/javascript">
            $(function () {
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": false,
                    "info": true,
                    "autoWidth": false,
                });
            });
    </script>
}