<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>@ViewBag.Title - PUP-FMIS Portal</title>
        @Styles.Render("~/bundles/styles")
        <link href="~/Scripts/adminlte/components/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Scripts/adminlte/components/ionicons/css/ionicons.min.css" rel="stylesheet" />

    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            @Html.Partial("_Header")
            @Html.Partial("_Sidebar")      
            @RenderBody()
            @Html.Partial("_Footer")
            @Html.Partial("_Aside")
            <div id="sidebar-overlay"></div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", false)
        @Scripts.Render("~/bundles/scripts")
    </body>
</html>
