
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/Content/imgs/PUPLogo.png" class="brand-image img-circle elevation-3" style="opacity: .8;" width="135" height="135">
        <span class="brand-text font-weight-light">PUP FMPortal</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host">
            <div class="os-resize-observer observed" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer observed"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll; right: 0px; bottom: 0px;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel text-center">
                        <div class="row mt-2 mb-0">
                            <div class="col-sm-12">
                                <span class="mb-0 mt-0 pb-0 pt-0" style="color:white; font-size:10pt;">@( ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(d => d.Type == "Employee").Value )</span>
                            </div>
                            <div class="col-sm-12">
                                <span class="mb-0 mt-0 pb-0 pt-0">
                                    <small style="color:white; font-size:7pt; font-weight:normal;">@( ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst(d => d.Type == "Designation").Value )</small>
                                    <small style="color:white;">&nbsp;/&nbsp;</small>
                                    <small style="color:white; font-size:7pt; font-weight:normal;">@User.Identity.Name</small>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-2 mt-0 pt-0">
                                <span style="font-size:8pt;"><i class="fa fa-home" style="color:white;"></i> <a href="/">Home</a></span>
                                <span style="color:white;">&emsp;|&emsp;</span>
                                <span style="font-size:8pt;"><i class="fa fa-sign-out-alt" style="color:white;"></i> <a href="@Url.Action("logout-link", "Users", new { Area = "" }, null)">Logout</a></span>
                            </div>
                        </div>
                    </div>
                    <nav class="mt-2">
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuperUser) || User.IsInRole(PUPFMIS.Models.SystemRoles.SystemAdmin))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-table"></i>&nbsp;
                                        <p>
                                            Master Tables
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("index","Suppliers", new { area = "" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Suppliers
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("index","UnitOfMeasure", new { area = "" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Units of Measure
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("list","InventoryTypes", new { area = "admin" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Default Responsibility Centers
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-sticky-note"></i>&nbsp;
                                        <p>
                                            Item Catalogue
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("list","ItemTypes", new { area = "admin" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Item Types
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("item-list","Items", new { area = "admin" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Items
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("index","ItemPrices", new { area = "" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Item Prices
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("index","Users", new { Area = "" })" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fa fa-user-cog"></i>&nbsp;
                                        <p>
                                            Accounts Management
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuperUser))
                            {
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                    <li class="nav-header" style="font-size:9pt;">
                                        NAVIGATION
                                    </li>
                                </ul>
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                    <li class="nav-header" style="font-size:9pt;">
                                        PROCUREMENT &amp; BUDGET PLANNING
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" style="font-size:10.5pt;">
                                            <i class="fas fa-folder"></i>&nbsp;
                                            <p>
                                                Procurement Planning
                                                <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action("dashboard","APPCSEDashboard", new { area = "property-and-supplies" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                    <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                    Annual Procurement Plan
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                    <li class="nav-header" style="font-size:9pt;">
                                        PROCUREMENT
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "PurchaseRequestsSupplies", new { Area = "property-and-supplies" })" class="nav-link" style="font-size:10.5pt;">
                                            <i class="fa fa-file"></i>&nbsp;
                                            <p>
                                                Purchase Requests
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            }
                            if (User.IsInRole(PUPFMIS.Models.SystemRoles.SystemAdmin))
                            {
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                    <li class="nav-header" style="font-size:9pt;">
                                        NAVIGATION
                                    </li>
                                </ul>
                                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                    <li class="nav-header" style="font-size:9pt;">
                                        PROCUREMENT
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" style="font-size:10.5pt;">
                                            <i class="fas fa-folder"></i>&nbsp;
                                            <p>
                                                Purchase Requests
                                                <i class="fas fa-angle-left right"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="@Url.Action("pending-submissions","ProcurementPurchaseRequests", new { Area = "procurement" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                    <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                    Receive P/R
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "AgemcyProcurementRequest", new { Area = "procurement" })" class="nav-link" style="font-size:9.75pt;">
                                            <i class="fa fa-file-export"></i>&nbsp;
                                            <p>
                                                Agency Procurement Request
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            }
                        }
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.EndUser))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT &amp; BUDGET PLANNING
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-folder"></i>&nbsp;
                                        <p>
                                            Procurement Planning
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("dashboard","Dashboard", new { area = "end-users" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Project Plans
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("dashboard","ProcurementPipeline", new { Area = "end-users" })" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fa fa-shopping-basket"></i>&nbsp;
                                        <p>
                                            Procurement Pipeline
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("dashboard","PurchaseRequests", new { Area = "end-users" })" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fa fa-file"></i>&nbsp;
                                        <p>
                                            Purchase Requests
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        }
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ProcurementAdministrator) || User.IsInRole(PUPFMIS.Models.SystemRoles.ProcurementPlanningChief))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT &amp; BUDGET PLANNING
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-folder"></i>&nbsp;
                                        <p>
                                            Procurement Planning
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("index","PPMPDeadlines", new { area = "" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                PPMP Deadlines
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Action("dashboard","APPs", new { area = "procurement" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Annual Procurement Plan
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-users"></i>&nbsp;
                                        <p>
                                            Procurement Process
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("index","ProcurementPipelines", new { area = "procurement" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Project Assignment
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-file-invoice"></i>&nbsp;
                                        <p>
                                            Contract Management
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview"></ul>
                                </li>
                                <li class="nav-item">
                                    <a href='@Url.Action("index", "SupplierEvaluation")' class="nav-link" style="font-size:10.5pt">
                                        <i class="fas fa-clipboard-check"></i>&nbsp;
                                        <p>Supplier Evaluation</p>
                                    </a>
                                </li>
                            </ul>
                        }
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.BudgetOfficer) || User.IsInRole(PUPFMIS.Models.SystemRoles.BudgetAdmin))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT &amp; BUDGET PLANNING
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-folder"></i>&nbsp;
                                        <p>
                                            Procurement Planning
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("dashboard","Dashboard", new { area = "budget" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                PPMP Approval
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ProjectCoordinator))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("dashboard","MyProjects", new { area = "procurement" })" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fa fa-users"></i>&nbsp;
                                        <p>
                                            My Projects
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-folder"></i>&nbsp;
                                        <p>
                                            Purchase Requests
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("pending-submissions","ProcurementPurchaseRequests", new { Area = "procurement" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Receive P/R
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuppliesChief) || User.IsInRole(PUPFMIS.Models.SystemRoles.PropertyDirector))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT &amp; BUDGET PLANNING
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-folder"></i>&nbsp;
                                        <p>
                                            Procurement Planning
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("dashboard","APPCSEDashboard", new { area = "property-and-supplies" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Annual Procurement Plan
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("index", "PurchaseRequestsSupplies", new { Area = "property-and-supplies" })" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fa fa-file"></i>&nbsp;
                                        <p>
                                            Purchase Requests
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        }
                        @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ProcurementStaff))
                        {
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header" style="font-size:9pt;">
                                    NAVIGATION
                                </li>
                            </ul>
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                                <li class="nav-header" style="font-size:9pt;">
                                    PROCUREMENT
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" style="font-size:10.5pt;">
                                        <i class="fas fa-folder"></i>&nbsp;
                                        <p>
                                            Purchase Requests
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a href="@Url.Action("pending-submissions","ProcurementPurchaseRequests", new { Area = "procurement" })" class="nav-link pt-1 pb-1" style="text-indent:3px; font-size:10pt;">
                                                <i class="fa fa-circle" style="font-size:5pt;"></i> &nbsp;
                                                Receive P/R
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("index", "AgemcyProcurementRequest", new { Area = "procurement" })" class="nav-link" style="font-size:9.75pt;">
                                        <i class="fa fa-file-export"></i>&nbsp;
                                        <p>
                                            Agency Procurement Request
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        }
                        @*<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                            <li class="nav-header" style="font-size:9pt;">
                                SUPPLIES and PROPERTY
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="font-size:10.5pt;">
                                    <i class="fas fa-warehouse"></i>&nbsp;
                                    <p>
                                        Warehouse Management
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","Deliveries")" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-truck"></i>&nbsp;
                                                Receive Deliveries
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "PPEs", new { type = "warehouse" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-hashtag"></i>&nbsp;
                                                Property No. Assignment
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","ItemPullOuts")" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-boxes"></i>&nbsp;
                                                Items Dispatch
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="font-size:10.5pt;">
                                    <i class="fas fa-search"></i>&nbsp;
                                    <p>
                                        Inspection Management
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","Inspections")" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-search-plus"></i>&nbsp;
                                                Deliveries
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "PPEs", new { type = "warehouse" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-trash"></i>&nbsp;
                                                Disposition
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="font-size:10.5pt;">
                                    <i class="fas fa-pencil-ruler"></i>&nbsp;
                                    <p>
                                        Supplies Management
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","SuppliesMaster")" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-pen"></i>&nbsp;
                                                Supplies Information
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "PhysicalCount", new { type = "supplies"})" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-clipboard-check"></i>&nbsp;
                                                Physical Count
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "InventoryAdjustments", new { type = "supplies"})" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-adjust"></i>&nbsp;
                                                Adjustment
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "MaterialsDisposition")" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-trash"></i>&nbsp;
                                                Disposition
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="font-size:10.5pt;">
                                    <i class="fas fa-laptop"></i>&nbsp;
                                    <p>
                                        PPE Management
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","PPEs", new { type = "custodian" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-building"></i>&nbsp;
                                                PPE Information
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("assignedpropertyindex","PPEs")" class="nav-link" style="font-size:10.5pt;">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-tv"></i>&nbsp;
                                                Assigned PPE
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "PhysicalCount", new { type = "properties"})" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-clipboard-check"></i>&nbsp;
                                                Physical Count of PPE
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "InventoryAdjustments", new { type = "supplies"})" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-adjust"></i>&nbsp;
                                                Adjustment
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index", "PPEs", new { type = "warehouse" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-trash"></i>&nbsp;
                                                Disposition
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="font-size:10.5pt;">
                                    <i class="fas fa-share"></i>&nbsp;
                                    <p>
                                        Requisition &amp; Issuance
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","Requests", new { type = "client" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-user-tag"></i>&nbsp;
                                                My Requests
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","Requests", new { type = "custodian" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-file-signature"></i>&nbsp;
                                                New Requests
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("index","Requests", new { type = "release" })" class="nav-link">
                                            <span style="text-indent:15px; font-size:10.5pt;">
                                                <i class="fa fa-hands-helping"></i>&nbsp;
                                                Issue Items
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <br /><br /><br /><br />*@
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /.sidebar -->
</aside>