<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="~/Content/imgs/PUPLogo.png" class="brand-image img-circle elevation-3" style="opacity: .8;" width="135" height="135">
        <span class="brand-text font-weight-light">PUP FMPortal</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fa fa-home nav-icon"></i>
                        <p>Home</p>
                    </a>
                </li>
            </ul>
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ResponsibilityCenterPlanner))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        INSTITUTIONAL PROCUREMENT <br /> &amp; BUDGET PLANNING
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("list","SuppliersDirectory", new { Area = "" })" class="nav-link">
                            <i class="fa fa-truck nav-icon"></i>
                            <p>Suppliers' Directory</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","MarketSurvey", new { Area = "responsibility-centers" })" class="nav-link">
                            <i class="fa fa-file-contract nav-icon"></i>
                            <p>Market Survey</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p>
                                Procurement Plans
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("office","StrategicPlanning", new { area = "responsibility-centers" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Project Plans</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","PurchaseRequests", new { Area = "" })" class="nav-link">
                            <i class="fa fa-file nav-icon"></i>
                            <p>Purchase Requests</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuperUser) || User.IsInRole(PUPFMIS.Models.SystemRoles.SystemAdmin))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        DATA MAINTENANCE
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p>
                                Master Tables
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("list","Suppliers", new { area = "administration" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Suppliers</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","UnitOfMeasure", new { area = "administration" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Units of Measure</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-box"></i>
                            <p>
                                Item Catalogue
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("list","ItemTypes", new { area = "administration" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Item Types</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","ItemArticles", new { area = "administration" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Item Articles</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","Items", new { area = "administration" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Items Master</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","ItemPrices", new { area = "administration" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Price Catalogue</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("index","Users", new { Area = "" })" class="nav-link">
                            <i class="fa fa-users nav-icon"></i>
                            <p>Accounts Management</p>
                        </a>
                    </li>
                    @if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuperUser))
                    {
                        <li class="nav-header mt-2 mb-1">
                            PROCUREMENT &amp;<br />BUDGET PLANNING
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-folder"></i>
                                <p>
                                    Procurement Plans
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("dashboard","APPCSEDashboard", new { area = "property-and-supplies" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="font-size:75%;">Annual Procurement Plan - CSE</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("dashboard","AnnualProcurementPlan", new { area = "procurement" })" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="font-size:93%;">Annual Procurement Plan</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-file-alt"></i>
                            <p>
                                Purchase Requests
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("pending-submissions","ProcurementPurchaseRequests", new { Area = "procurement" })" class="nav-link">
                                    <i class="fa fa-file-alt nav-icon"></i>
                                    <p>Receive P/R</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("index", "AgencyProcurementRequest", new { Area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-export nav-icon"></i>
                            <p style="font-size:80%">Agency Procurement Request</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.InfrastructureImplementingUnit))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        DATA MAINTENANCE
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-hammer"></i>
                            <p>
                                Work Requirements
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("list","WorkRequirementsClassification", new { area = "infrastructure-unit" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:85%">Requirements Classifications</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","WorkRequirements", new { area = "infrastructure-unit" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:85%">Work Requirements Master</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("list", "MaterialsMaster", new { Area = "infrastructure-unit" })" class="nav-link">
                            <i class="fa fa-thumbtack nav-icon"></i>
                            <p>Materials/Labor Master</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT &amp;<br />BUDGET PLANNING
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p>
                                Procurement Plans
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("office","InfrastructureProjects", new { area = "infrastructure-unit" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Project Plans</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","DetailedEstimates", new { area = "infrastructure-unit" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Detailed Estimates</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","WorkRequirementsClassification", new { area = "infrastructure-unit" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">PPMPs</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("list","InfrastructureRequests", new { area = "infrastructure-unit" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Infrastructure Projects</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","PurchaseRequests", new { Area = "" })" class="nav-link">
                            <i class="fa fa-file nav-icon"></i>
                            <p>Purchase Requests</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.EndUser))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT <br /> &amp; BUDGET PLANNING
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("list","SuppliersDirectory", new { Area = "" })" class="nav-link">
                            <i class="fa fa-truck nav-icon"></i>
                            <p style="font-size:10pt;">Suppliers' Directory</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p style="font-size:10pt;">
                                Procurement Plans
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("dashboard","Dashboard", new { area = "end-users" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Project Plans</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("dashboard","ProjectProcurementManagementPlans", new { area = "end-users" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">PPMPs</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","PurchaseRequests", new { Area = "" })" class="nav-link">
                            <i class="fa fa-file nav-icon"></i>
                            <p style="font-size:10pt;">Purchase Requests</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ProcurementAdministrator) || User.IsInRole(PUPFMIS.Models.SystemRoles.ProcurementPlanningChief))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT <br /> &amp; BUDGET PLANNING
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("index","PPMPDeadlines", new { area = "procurement" })" class="nav-link">
                            <i class="fa fa-calendar-alt nav-icon"></i>
                            <p style="font-size:10pt;">PPMP Deadlines</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p style="font-size:10pt;">
                                Procurement Plans
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("dashboard","AnnualProcurementPlans", new { area = "procurement" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Annual Procurement Plan</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT PROGRAMS
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","ProcurementPurchaseRequests", new { area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-alt nav-icon"></i>
                            <p style="font-size:10pt;">Purchase Requests</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                    <a href="@Url.Action("dashboard","Contracts", new { area = "procurement" })" class="nav-link">
                        <i class="fas fa-tasks nav-icon"></i>
                        <p style="font-size:10pt;">Contract Projects</p>
                    </a>
                </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","Contracts", new { area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-contract nav-icon"></i>
                            <p style="font-size:10pt;">Procurement Projects</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                    <a href="@Url.Action("dashboard","RequestForQuotation", new { area = "procurement" })" class="nav-link">
                        <i class="fa fa-file-contract nav-icon"></i>
                        <p style="font-size:10pt;">Requests for Quotation</p>
                    </a>
                </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard", "AgencyProcurementRequest", new { Area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-export nav-icon"></i>
                            <p style="font-size:80%">Agency Procurement Request</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-file-signature nav-icon"></i>
                            <p style="font-size:10pt;">Contract Management</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-clipboard-check nav-icon"></i>
                            <p style="font-size:10pt;">Suppliers' Evaluation</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.BudgetOfficer) || User.IsInRole(PUPFMIS.Models.SystemRoles.BudgetAdmin))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT <br /> &amp; BUDGET PLANNING
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p>
                                Procurement Plans
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("dashboard","PPMPApproval", new { area = "budget" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Budget Proposals</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ProjectCoordinator))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("list","ProcurementProjects", new { area = "procurement" })" class="nav-link">
                            <i class="fa fa-book-open nav-icon"></i>
                            <p style="font-size:10pt;">Procurement Projects</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                    <a href="@Url.Action("list","MyAMPProjects", new { area = "procurement" })" class="nav-link">
                        <i class="fa fa-folder nav-icon"></i>
                        <p style="font-size:10pt;">Alternative Mode Projects</p>
                    </a>
                </li>*@
                    @*<li class="nav-item">
                    <a href="@Url.Action("dashboard","RequestForQuotation", new { area = "procurement" })" class="nav-link">
                        <i class="fa fa-file-contract nav-icon"></i>
                        <p style="font-size:10pt;">Requests for Quotation</p>
                    </a>
                </li>*@
                    @*<li class="nav-item">
                    <a href="@Url.Action("dashboard","BidsRegistration", new { area = "procurement" })" class="nav-link">
                        <i class="fa fa-list nav-icon"></i>
                        <p style="font-size:10pt;">Bids Registration</p>
                    </a>
                </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","AgencyProcurementRequest", new { area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-invoice nav-icon"></i>
                            <p style="font-size:10pt;">Agency Proc. Requests</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","Contracts", new { area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-contract nav-icon"></i>
                            <p style="font-size:10pt;">Contracts</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuppliesChief) || User.IsInRole(PUPFMIS.Models.SystemRoles.PropertyDirector))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT <br /> &amp; BUDGET PLANNING
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-folder"></i>
                            <p style="font-size:10pt;">
                                Procurement Plans
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("office","StrategicPlanning", new { area = "responsibility-centers" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Project Plans</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("dashboard","APPCSEDashboard", new { area = "property-and-supplies" })" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p style="font-size:10pt;">Annual Procurement Plan</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","PurchaseRequests", new { Area = "" })" class="nav-link">
                            <i class="fa fa-file nav-icon"></i>
                            <p style="font-size:10pt;">Purchase Requests</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        DELIVERIES
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","Deliveries", new { Area = "property-and-supplies" })" class="nav-link">
                            <i class="fa fa-truck-loading nav-icon"></i>
                            <p style="font-size:10pt;">Deliveries</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        SUPPLIES MANAGEMENT
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","StockCard", new { Area = "property-and-supplies" })" class="nav-link">
                            <i class="fa fa-file nav-icon"></i>
                            <p style="font-size:10pt;">Stock Cards</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.BACSECHead))
            {

            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.ProcurementStaff))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        PROCUREMENT
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-file-alt"></i>
                            <p>
                                Purchase Requests
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("dashboard","ProcurementPurchaseRequests", new { Area = "procurement" })" class="nav-link">
                                    <i class="fa fa-file-alt nav-icon"></i>
                                    <p style="font-size:10pt;">Receive P/R</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard", "AgencyProcurementRequest", new { Area = "procurement" })" class="nav-link">
                            <i class="fa fa-file-export nav-icon"></i>
                            <p style="font-size:80%">Agency Procurement Request</p>
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.SuppliesStaff))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        DELIVERIES
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","Deliveries", new { Area = "property-and-supplies" })" class="nav-link">
                            <i class="fa fa-truck-loading nav-icon"></i>
                            <p style="font-size:10pt;">Deliveries</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        SUPPLIES MANAGEMENT
                    </li>
                </ul>
            }
            @if (User.IsInRole(PUPFMIS.Models.SystemRoles.InspectionOfficer))
            {
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        INSPECTION AND ACCEPTANCE
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard","InspectionAndAcceptance", new { Area = "property-and-supplies" })" class="nav-link">
                            <i class="fa fa-truck-loading nav-icon"></i>
                            <p style="font-size:10pt;">Deliveries</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-header mt-2 mb-1">
                        DISPOSITION
                    </li>
                </ul>
            }
        </nav>
    </div>
</aside>
