@model PUPFMIS.Models.AgencyProcurementRequestVM

@{
    ViewBag.Title = "Agency Procurement Requests";
    ViewBag.Description = "Create";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-tachometer-alt"></i>&nbsp;@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Agency Procurement Requests", "index", "AgencyProcruementRequest", new { Area = "procurement" }, null)</li>
        <li class="breadcrumb-item">Create</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Create New Agency Procurement Request</h3>
}

@using (Ajax.BeginForm("create", "AgencyProcurementRequest", new { Area = "procurement", ContractCode = Model.ContractCode }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "projectDetails" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Form")
}

@section FormFooter {
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="PostToAPR()"><i class="fa fa-save"></i>&nbsp; Post to Agency Procurent Request</button>
                <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index", "AgemcyProcurementRequest", new { area = "procurement" })'"><i class="fa fa-arrow-alt-circle-left"></i>&nbsp; Back to List</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function PostToAPR() {
        swal.fire({
            title: "Save Agency Procurement Request?",
            text: "You are about to save this APR, continue?",
            icon: "question",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#projectDetails").submit();
            }
            else {
                swal.fire({
                    title: "Cancelled!",
                    text: "You have cancelled saving the record.",
                    icon: "error"
                })
            };
        })
    }
    function CreateResult(data) {
        if (data.result == true) {
            swal.fire({
                title: "Record Saved!",
                text: "Agency Procurement Request is successfully saved.",
                icon: "success"
            }).then((result) => {
                if (result.value) {
                    var url = "@Url.Action("dashboard", "AgencyProcurementRequest", new { Area = "procurement" })";
                    window.location.href = url;
                }
            })
        }
        else {
            swal.fire({
                title: "Record Not Saved!",
                text: "Saving record failed.",
                icon: "error"
            });
        }
        var vsummary = $("#ValidationSummary");
        if (vsummary.val() != null) {
            $("input").blur();
            $(window).scrollTop(0,0);
        }
    }
</script>