@model PUPFMIS.Models.InspectionHeader

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InspectionHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKPOReference.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKPOReference.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IARNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IARNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionPersonnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionPersonnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallRemarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
