@model PUPFMIS.Models.InspectionHeader

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InspectionHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKPOReference.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKPOReference.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IARNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IARNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionPersonnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionPersonnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallRemarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
