@model IEnumerable<PUPFMIS.Models.ItemPrice>

@{
    ViewBag.Title = "Item Prices";
    ViewBag.Description = "Master";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Item Prices", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> PS-DBM Prevailing Prices as of @DateTime.Now.ToString("dd MMMM yyyy")</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th style="vertical-align:middle; text-align:center;">
                            Item Description
                        </th>
                        <th style="vertical-align:middle; text-align:center;">
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th style="vertical-align:middle; text-align:center;">
                            @Html.DisplayNameFor(model => model.EffectivityDate)
                        </th>
                        <th style="vertical-align:middle; text-align:center;">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(d => d.FKItemReference.ItemFullName).ToList())
                    {
                        <tr>
                            <td style="vertical-align:middle; text-align:left;">
                                <b>@Html.DisplayFor(modelItem => item.FKItemReference.ItemFullName)</b> (@Html.DisplayFor(modelItem => item.FKItemReference.ItemCode))
                            </td>
                            <td style="vertical-align:middle; text-align:right;">
                                @( String.Format("{0:C}", item.UnitPrice) )
                            </td>
                            <td style="vertical-align:middle; text-align:center;">
                                @item.EffectivityDate.ToString("dd MMMM yyyy")
                            </td>
                            <td style="vertical-align:middle; text-align:center;">
                                <button type="button" class="btn btn-sm btn-primary" style="width: 175px; margin-top: 2.5px; margin-bottom: 2.5px;" data-toggle="tooltip" title="View Details" onclick="window.location = '@Url.Action("IndexPriceHistory","ItemPrices", new { ItemCode = item.FKItemReference.ItemCode })'"><i class="fa fa-eye"></i> View Price History</button>
                                <br />
                                <button type="button" class="btn btn-sm btn-warning" style="width: 175px; margin-top: 2.5px; margin-bottom: 2.5px;" onclick="loadModal('@Url.Action("updateprices","ItemPrices", new { id = item.ID })')"><i class="fa fa-edit"></i> Update Prices</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="modal-default">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="modal-container">
        </div>
    </div>
</div>

<script type="text/javascript">
    var options = { "backdrop": "static", keyboard: true };
    function loadModal(url) {
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#modal-container').html(data);
                $('#modal-default').modal(options);
                $('#modal-default').modal('show');
            }
        });
    };
</script>