@model PUPFMIS.Models.DeliveriesDashboard

@{
    ViewBag.Title = "Deliveries";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-tachometer-alt"></i>&nbsp;@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">Deliveries</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Deliveries Dashboard</h3>
}

<h6><i class="fa fa-edit"></i> Delivery Activities</h6>
<div class="row">
    <div class="col-sm-2">
        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="vert-tabs-open-contracts-tab" data-toggle="pill" href="#vert-tabs-open-contracts" role="tab" aria-controls="vert-tabs-open-contracts" aria-selected="true">Contracts for Delivery</a>
            @*<a class="nav-link" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Statistics</a>*@
            <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Reporting</a>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="tab-content" id="vert-tabs-tabContent">
            <div class="tab-pane text-left fade show active" id="vert-tabs-open-contracts" role="tabpanel" aria-labelledby="vert-tabs-open-contracts-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Contracts for Delivery</h3></div>
                    <div class="card-body">
                        <div class="card-body table-responsive p-sm-0">
                            <table class="table table-striped table-hover display">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;" width="25%">
                                            @Html.DisplayNameFor(model => model.ContractsForDelivery.FirstOrDefault().ReferenceNumber)
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="40%">
                                            @Html.DisplayNameFor(model => model.ContractsForDelivery.FirstOrDefault().ContractName)
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="15%">
                                            @Html.DisplayNameFor(model => model.ContractsForDelivery.FirstOrDefault().ContractPrice)
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="20%">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContractsForDelivery)
                                    {
                                        <tr>
                                            <td style="text-align:left; vertical-align:top;">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b>@Html.DisplayFor(modelItem => item.ReferenceNumber)</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <i>@( item.ContractType.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:left; vertical-align:middle;">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b>@Html.DisplayFor(modelItem => item.ContractName)</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <i>(@Html.DisplayFor(modelItem => item.ContractCode))</i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:right; vertical-align:top;">
                                                @( item.ContractPrice.ToString("C", new System.Globalization.CultureInfo("en-ph")) )
                                            </td>
                                            <td style="text-align:center; vertical-align:middle;">
                                                <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href = '@Url.Action("details", "Deliveries", new { Area = "property-and-supplies", ReferenceNo = item.ReferenceNumber })'"><i class="fa fa-eye"></i> View Details</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="tab-pane text-left fade" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Statistics</h3></div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>*@
            <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Reporting</h3></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-primary"><i class="fa fa-print"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text pb-1" style="font-size:12pt; font-weight:bold;"> @Html.ActionLink("Delivery Receipt Report", "list", "Deliveries", new { area = "property-and-supplies" }, null)</span>
                                        <span class="info-box-number" style="font-size:9pt;">
                                            View and print Delivery Receipt Report
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<script type="text/javascript">
    $(function () {
        $('table.display').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
</script>