@{
    ViewBag.Title = "Deliveries";
    ViewBag.Description = "Unregistered Items";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-tachometer-alt"></i>&nbsp;@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Deliveries Dashboard", "dashboard")</li>
        <li class="breadcrumb-item">Unregistered Items</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Register Items</h3>
}

@using (Ajax.BeginForm("register-items", "Deliveries", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult", UpdateTargetId = "form-container" }, htmlAttributes: new { id = "projectDetails", Area = "property-and-supplies" }))
{
    @Html.AntiForgeryToken()
    <div id="form-container">
        @Html.Partial("_RegisterItems")
    </div>
}

@section FormFooter{
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="SaveUpdates()"><i class="fa fa-save"></i>&nbsp; Register Items</button>
                <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("dashboard", "Deliveries", new { Area = "property-and-supplies" })'"><i class="fa fa-arrow-alt-circle-left"></i>&nbsp; Back to Dashboard</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('table.display').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });

    function SaveUpdates() {
        swal.fire({
            title: "Save Unregistered Items?",
            text: "You are about to save unregistered items from this Contract, continue?",
            icon: "question",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#projectDetails").submit();
            }
            else {
                swal.fire({
                    title: "Cancelled!",
                    text: "You have cancelled saving the record.",
                    icon: "error"
                })
            };
        })
    }

    function CreateResult(data) {
        if (data.result == true) {
            swal.fire({
                title: "Items Registered!",
                text: "Items are successfully registered.",
                icon: "success"
            }).then((result) => {
                if (result.value) {
                    var url = '@Url.Action("details", "Deliveries", new { Area = "property-and-supplies", ReferenceNo = ViewBag.ReferenceNo })';
                    window.location.href = url;
                }
            })
        }
        else {
            swal.fire({
                title: "Record Not Saved!",
                text: "Saving record failed.",
                icon: "error"
            });
        }
        var vsummary = $("#ValidationSummary");
        if (vsummary.val() != null) {
            $("input").blur();
            $(window).scrollTop(0, 0);
        }
    }
</script>