@model PUPFMIS.Models.APPHeader

@{
    ViewBag.Title = "Annual Procurement Plan";
    ViewBag.Description = "Create";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Annual Procurement Plan", "index")</li>
        <li class="breadcrumb-item">Create</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> New Annual Procurement Plan</h1>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="form-horizontal">
                <h5>Annual Procurement Plan Details</h5>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label", style = "font-size: 100%" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-anchor"></i></span>
                                </div>
                                @Html.EnumDropDownListFor(model => model.Action, htmlAttributes: new { @class = "form-control form-control-sm", style = "font-size: 100%" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReferenceNo, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                </div>
                                @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", placeholder = "New Annual Procurement Plan", style = "font-size: 100%" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                                </div>
                                @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", Value = DateTime.Now.ToString("dd MMMM yyyy hh:mmtt"), style = "font-size: 100%" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Procurement Plan For", htmlAttributes: new { @class = "control-label" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-arrow-right"></i></span>
                                </div>
                                @{
                                    var _appFor = new List<SelectListItem>();
                                    _appFor.Add(new SelectListItem { Text = "Common-use Supplies and Equipment", Value = "0", Selected = true });
                                    _appFor.Add(new SelectListItem { Text = "Non CSE", Value = "1" });
                                }
                                @Html.DropDownList("APPFor", _appFor, htmlAttributes: new { @class = "form-control form-control-sm", style = "font-size: 100%" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FiscalYear, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar-day"></i></span>
                                </div>
                                @Html.EditorFor(model => model.FiscalYear, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.FiscalYear, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Supplementary / Amendatory To", htmlAttributes: new { @class = "control-label" })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                                @Html.Editor("Reference", new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Input Number or click Search button..." }, style = "font-size: 100%" })
                            </div>
                            @*@Html.ValidationMessageFor(model => model.Header.PONumber, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <br />
                <h3 class="card-title">Approved Projects</h3>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-info card-outline">
                            <div class="card-header d-flex p-0">
                                <ul class="nav nav-pills p-2">
                                    <li class="nav-item"><a class="nav-link active" href="#mooe" data-toggle="tab"><i class="fa fa-file-archive"></i>&nbsp; Maintenance and Other Operating Expenses</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#co" data-toggle="tab"><i class="fa fa-file-invoice"></i>&nbsp; Capital Outlay</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <br />
                                <div class="tab-pane active" id="mooe">
                                    <div class="col-md-12">
                                        @Html.Partial("CreateAPPMOOE")
                                    </div>
                                </div>
                                <div class="tab-pane" id="co">
                                    <div class="col-md-12">
                                        @Html.Partial("CreateAPPCO")
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section FormFooter {
        <div class="form-group float-right">
            <button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("index", "APP")'"><i class="fa fa-save"></i> Save Changes</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index","APP")'"><i class="fa fa-arrow-circle-left"></i> Back</button>
        </div>
    }
    }
