@model PUPFMIS.Models.ProcurementPipelineDashboardVM

@{
    ViewBag.Title = "Procurement Pipeline";
    ViewBag.Description = "Dashboard";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">Procurment Pipeline</li>
        <li class="breadcrumb-item">Dashboard</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-home"></i> Procurement Pipeline Dashboard</h3>
}

<div class="row">
    <div class="col-sm-12">
        <h3>Dashboard</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="bg-info">
            <h5 class="p-2">STATISTICS</h5>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>@Model.TotalProcurementItems</h3>
                        <p>Total Procurement Items</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.TotalItemsApproved</h3>
                        <p>Total Items Approved</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-export"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.TotalItemsPostedInAPP</h3>
                        <p>Total Items Posted in APP</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-share"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.TotalItemsWithPurchaseRequest</h3>
                        <p>Total Items with P/R</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">PROCUREMENT ITEMS STATUS</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-striped" id="items">
                    <thead>
                        <tr>
                            <th style="text-align:center; vertical-align:middle" width="15%">Item Code</th>
                            <th style="text-align:center; vertical-align:middle" width="45%">Item Name</th>
                            <th style="text-align:center; vertical-align:middle" width="20%">Quantity</th>
                            <th style="text-align:center; vertical-align:middle" width="20%">Procurement Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ItemStatus.GroupBy(d => new { d.ItemCode, d.ItemName, d.TotalQty, d.IndividualUOMReference, d.Status }).OrderBy(d => d.Key.ItemCode).ToList())
                        {
                            <tr>
                                <td style="text-align:center; vertical-align:middle">
                                    @Html.DisplayFor(d => item.Key.ItemCode)
                                </td>
                                <td style="text-align:left; vertical-align:middle">
                                    @Html.DisplayFor(d => item.Key.ItemName)
                                </td>
                                <td style="text-align:center; vertical-align:middle">
                                    @(item.Sum(x => x.TotalQty)) @Html.DisplayFor(d => item.Key.IndividualUOMReference)
                                </td>
                                <td style="text-align:center; vertical-align:middle">
                                    <b>@Html.DisplayFor(d => item.Key.Status).ToString().ToUpper()</b>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">PROCUREMENT PROJECT FOR P/R SUBMISSION</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-striped" id="pr-submission">
                    <thead>
                        <tr>
                            <th style="text-align:center; vertical-align:middle" width="70%">Procurement Program</th>
                            <th style="text-align:center; vertical-align:middle" width="30%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProcurementPrograms)
                        {
                            <tr>
                                <td style="text-align:left; vertical-align:middle">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>@Html.DisplayNameFor(d => item.PAPCode)</b>
                                        </div>
                                        <div class="col-sm-8">
                                            : @Html.DisplayFor(d => item.PAPCode)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>@Html.DisplayNameFor(d => item.ProcurementProgram)</b>
                                        </div>
                                        <div class="col-sm-8">
                                            : @Html.DisplayFor(d => item.ProcurementProgram)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>@Html.DisplayNameFor(d => item.ProjectCoordinator)</b>
                                        </div>
                                        <div class="col-sm-8">
                                            : @Html.DisplayFor(d => item.ProjectCoordinator)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>@Html.DisplayNameFor(d => item.Schedule.PurchaseRequestSubmission)</b>
                                        </div>
                                        <div class="col-sm-8">
                                            : @Html.DisplayFor(d => item.Schedule.PurchaseRequestSubmission)
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align:center; vertical-align:middle">
                                    <button class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("details", "PurchaseRequests", new { Area = "end-users", PAPCode = item.PAPCode })'"><i class="fa fa-eye"></i> View Items</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
</div>

<script type="text/javascript">
    $(function () {
        $('#items').DataTable({
            "paging": true,
            "pageLength": 5,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#pr-submission').DataTable({
            "paging": true,
            "pageLength": 5,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
</script>
