@{
    ViewBag.Title = "Contract Projects";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">Contract Projects</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-home"></i> Contract Projects</h3>
}

<div class="row">
    <div class="col-sm-3">
        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">New Procurement Project</a>
            <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Statistics</a>
            <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Monitoring</a>
            <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Reporting</a>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="tab-content" id="vert-tabs-tabContent">
            <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">New Procurement Project</h3></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-warning"><i class="fa fa-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text pb-1" style="font-size:12pt; font-weight:bold;"> @Html.ActionLink("New Competitive Public Bidding Project", "setup-bidding-project", "Contracts", new { area = "procurement" }, null)</span>
                                        <span class="info-box-number" style="font-size:9pt;">
                                            Add a new Competitive Public Bidding Project to the pipeline.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-danger"><i class="fa fa-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text pb-1" style="font-size:12pt; font-weight:bold;"> @Html.ActionLink("New Altenative Mode of Procurement Project", "setup-alternative-mode-project", "Contracts", new { area = "procurement" }, null)</span>
                                        <span class="info-box-number" style="font-size:9pt;">
                                            Add a new Alternative Mode of Procruement Project to the pipeline.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-primary"><i class="fa fa-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text pb-1" style="font-size:12pt; font-weight:bold;"> @Html.ActionLink("New Agency-to-Agency Procurement Project", "setup-agency-to-agency", "Contracts", new { area = "procurement" }, null)</span>
                                        <span class="info-box-number" style="font-size:9pt;">
                                            Add a new Agency-to-Agency Procruement Project to the pipeline.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Statistics</h3></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="small-box bg-primary">
                                    <div class="inner">
                                        <h3>0</h3>
                                        <p>Unassigned APP Line Items</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>0</h3>
                                        <p>Projects Assigned</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-project-diagram"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Agency Procurement Request Preparation</h3></div>
                    <div class="card-body">
                        @*<table class="table table-striped table-hover display">
                            <thead>
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;" width="50%">
                                        @Html.DisplayNameFor(model => model.NewProjects.FirstOrDefault().ContractName)
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" width="15%">
                                        @Html.DisplayNameFor(model => model.NewProjects.FirstOrDefault().ModeOfProcurement)
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" width="15%">
                                        @Html.DisplayNameFor(model => model.NewProjects.FirstOrDefault().ABC)
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;" width="20%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ForPreparationOfAPR)
                                {
                                    <tr>
                                        <td style="text-align:left; vertical-align:middle;">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>@Html.DisplayFor(modelItem => item.ContractName)</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <i>(@Html.DisplayFor(modelItem => item.ContractCode))</i>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align:center; vertical-align:middle;">
                                            @( item.ModeOfProcurement )
                                        </td>
                                        <td style="text-align:right; vertical-align:middle;">
                                            @( item.ABC.ToString("C", new System.Globalization.CultureInfo("en-ph")) )
                                        </td>
                                        <td style="text-align:center; vertical-align:middle;">
                                            <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href = '@Url.Action("create", "AgencyProcurementRequest", new { Area = "procurement", ContractCode = item.ContractCode })'"><i class="fa fa-edit"></i> Update</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" style="text-align:right; font-size:14pt;"><b>Approved Budget:</b></td>
                                    <td style="text-align:right; font-size:14pt;"><b>@( Model.NewProjects.Sum(d => d.ABC).ToString("C", new System.Globalization.CultureInfo("en-ph")) )</b></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>*@

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Abstract of Quotations Preparation</h3></div>
                    <div class="card-body">
                        @*<div class="card-body table-responsive p-sm-0">
                            <table class="table table-striped table-hover display">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;" width="50%">
                                            Fiscal Year
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="50%">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AbstractFiscalYears)
                                    {
                                        <tr>
                                            <td style="text-align:center; vertical-align:middle;">
                                                @Html.DisplayFor(modelItem => item)
                                            </td>
                                            <td style="text-align:center; vertical-align:middle;">
                                                <button type="button" class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("closed-submissions", "RequestForQuotation", new { Area = "procurement", FiscalYear = item })'"><i class="fa fa-eye"></i> View Request for Quotation</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vert-pre-bid-conference" role="tabpanel" aria-labelledby="vert-pre-bid-conference-tab">
                <div class="card card-info">
                    <div class="card-header"><h3 class="card-title">Contracts Preparation</h3></div>
                    <div class="card-body">
                        @*<div class="card-body table-responsive p-sm-0">
                            <table class="table table-striped table-hover display">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle;" width="50%">
                                            @Html.DisplayNameFor(model => model.ProjectsForNOA.FirstOrDefault().ContractName)
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="15%">
                                            @Html.DisplayNameFor(model => model.ProjectsForNOA.FirstOrDefault().ModeOfProcurement)
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="15%">
                                            @Html.DisplayNameFor(model => model.ProjectsForNOA.FirstOrDefault().ABC)
                                        </th>
                                        <th style="text-align: center; vertical-align: middle;" width="20%">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProjectsForNOA)
                                    {
                                        <tr>
                                            <td style="text-align:left; vertical-align:middle;">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b>@Html.DisplayFor(modelItem => item.ContractName)</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <i>(@Html.DisplayFor(modelItem => item.ContractCode))</i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center; vertical-align:middle;">
                                                @( item.ModeOfProcurement )
                                            </td>
                                            <td style="text-align:right; vertical-align:middle;">
                                                @( item.ABC.ToString("C", new System.Globalization.CultureInfo("en-ph")) )
                                            </td>
                                            <td style="text-align:center; vertical-align:middle;">
                                                <button type="button" class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("create", "Contracts", new { Area = "procurement", ContractCode = item.ContractCode })'"><i class="fa fa-plus"></i> Create Contract</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2" style="text-align:right; font-size:14pt;"><b>Approved Budget:</b></td>
                                        <td style="text-align:right; font-size:14pt;"><b>@( Model.ProjectsForNOA.Sum(d => d.ABC).ToString("C", new System.Globalization.CultureInfo("en-ph")) )</b></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>*@
                    </div>
                </div>
            </div>
            @*<div class="tab-pane fade" id="vert-opening-of-bids" role="tabpanel" aria-labelledby="vert-opening-of-bids-tab">
                    <div class="card card-info">
                        <div class="card-header"><h3 class="card-title">Opening of Bids</h3></div>
                        <div class="card-body">
                            <div class="card-body table-responsive p-sm-0">
                                <table class="table table-striped table-hover" id="openingOfBidsList">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; vertical-align: middle;" width="50%">
                                                @Html.DisplayNameFor(model => model.NewProjects.FirstOrDefault().ContractName)
                                            </th>
                                            <th style="text-align: center; vertical-align: middle;" width="15%">
                                                @Html.DisplayNameFor(model => model.NewProjects.FirstOrDefault().BiddingStrategy)
                                            </th>
                                            <th style="text-align: center; vertical-align: middle;" width="15%">
                                                @Html.DisplayNameFor(model => model.NewProjects.FirstOrDefault().ABC)
                                            </th>
                                            <th style="text-align: center; vertical-align: middle;" width="20%">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ForOpeningOfBids)
                                        {
                                            <tr>
                                                <td style="text-align:left; vertical-align:middle;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <b>@Html.DisplayFor(modelItem => item.ContractName)</b>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <i>(@Html.DisplayFor(modelItem => item.ContractCode))</i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="text-align:center; vertical-align:middle;">
                                                    @( item.BiddingStrategy.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )
                                                </td>
                                                <td style="text-align:right; vertical-align:middle;">
                                                    @( item.ABC.ToString("C", new System.Globalization.CultureInfo("en-ph")) )
                                                </td>
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <button type="button" class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("details", "MyProjects", new { Area = "procurement", ContractCode = item.ContractCode })'"><i class="fa fa-edit"></i> Update</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" style="text-align:right; font-size:14pt;"><b>Approved Budget:</b></td>
                                            <td style="text-align:right; font-size:14pt;"><b>@( Model.ForOpeningOfBids.Sum(d => d.ABC).ToString("C", new System.Globalization.CultureInfo("en-ph")) )</b></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <br />
</div>

@*<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">Statistics</h5>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">Project Assignment Actions</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon bg-warning"><i class="fa fa-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" style="font-size:100%; font-weight:bold;"> @Html.ActionLink("New Contract Project", "setup", "Contracts", new { area = "procurement" }, null)</span>
                        <span class="info-box-number" style="font-size:80%;">
                            Add a new Competitive Bidding Project to the pipeline.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon bg-danger"><i class="fa fa-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text" style="font-size:100%; font-weight:bold;"> @Html.ActionLink("New Altenative Procurement Project", "setup", "AlternativeModeProjects", new { area = "procurement" }, null)</span>
                        <span class="info-box-number" style="font-size:80%;">
                            Add a new Alternative Procruement Project to the pipeline.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@