@model PUPFMIS.Models.SectorsMaster

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Add New Sector Record</h2>
</div>

@using (Ajax.BeginForm("Create", "SectorsMaster", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "modal-container", OnSuccess = "CloseModal" }))
{
    <div class="modal-body" id="form-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SectorCode, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SectorCode, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.SectorCode) } })
            @Html.ValidationMessageFor(model => model.SectorCode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectorName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SectorName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.SectorName) } })
            @Html.ValidationMessageFor(model => model.SectorName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Head, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Head, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.Head) } })
            @Html.ValidationMessageFor(model => model.Head, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeadDesignation, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.HeadDesignation, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.HeadDesignation) } })
            @Html.ValidationMessageFor(model => model.HeadDesignation, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantHead, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.AssistantHead, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.AssistantHead) } })
            @Html.ValidationMessageFor(model => model.AssistantHead, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantHeadDesignation, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.AssistantHeadDesignation, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", placeholder = Html.DisplayNameFor(d => d.AssistantHeadDesignation) } })
            @Html.ValidationMessageFor(model => model.AssistantHeadDesignation, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="save-btn">Save changes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
}


<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    function CloseModal(data) {
        if (data.status === "success") {
            $('#modal-default').modal('hide');
            window.location.href = "/sectors-master/index";
        }
    };
</script>