@model PUPFMIS.Models.SectorsMaster

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">View Sector Details [ <small><i>@Model.SectorName</i></small> ]</h2>
</div>

<div class="modal-body" id="form-body">
    <table class="table">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.SectorCode)</strong></td>
            <td>@Html.DisplayFor(model => model.SectorCode)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.SectorName)</strong></td>
            <td>@Html.DisplayFor(model => model.SectorName)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Head)</strong></td>
            <td>@Html.DisplayFor(model => model.Head)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.HeadDesignation)</strong></td>
            <td>@Html.DisplayFor(model => model.HeadDesignation)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.AssistantHead)</strong></td>
            <td>@Html.DisplayFor(model => model.AssistantHead)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.AssistantHeadDesignation)</strong></td>
            <td>@Html.DisplayFor(model => model.AssistantHeadDesignation)</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>