@model PUPFMIS.Models.ChartOfAccountsMaster

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">View Account Record [ <small><i>@Model.UACS - @Model.AccountTitle</i></small> ]</h2>
</div>

<div class="modal-body" id="form-body">
    <table class="table">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.UACS)</strong></td>
            <td>@Html.DisplayFor(model => model.UACS)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.FKClass)</strong></td>
            <td>@Html.DisplayFor(model => model.FKClass.AccountTitle)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.FKGenAcct)</strong></td>
            <td>@Html.DisplayFor(model => model.FKGenAcct.AccountTitle)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.FKSubAcct)</strong></td>
            <td>@Html.DisplayFor(model => model.FKSubAcct.AccountTitle)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.AccountTitle)</strong></td>
            <td>@Html.DisplayFor(model => model.AccountTitle)</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
