@model PUPFMIS.Models.Supplier

<div class="modal-header">
    <h4 class="modal-title">Purge Supplier Record</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" id="form-body">
    <h5>@Model.SupplierName</h5>
    <br />
    <h6>Other Details:</h6>
    <table class="table">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Address)</strong></td>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.ContactNumber)</strong></td>
            <td>@Html.DisplayFor(model => model.ContactNumber)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.AlternateContactNumber)</strong></td>
            <td>@(Model.AlternateContactNumber == null ? "No data provided" : Model.AlternateContactNumber)</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.TaxIdNumber)</strong></td>
            <td>@(Model.TaxIdNumber == null ? "No data provided" : Model.TaxIdNumber )</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.EmailAddress)</strong></td>
            <td>@(Model.EmailAddress == null ? "No data provided" : Model.EmailAddress )</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.Website)</strong></td>
            <td>@(Model.Website == null ? "No data provided" : Model.Website )</td>
        </tr>
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.CreatedAt)</strong></td>
            <td>@Model.CreatedAt.ToString("dd MMMM yyyy hh:mm tt")</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <div class="form-group">
        @using (Ajax.BeginForm("delete", "Suppliers", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "modal-container", OnSuccess = "CloseModal" }, htmlAttributes: new { id = "deleteSupplier" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="save-btn"><i class="fa fa-trash"></i>&nbsp; Delete record</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp; Close</button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $("#save-btn").on('click', function (e)
    {
        e.preventDefault();
        swal.fire({
            title: "Delete record?",
            text: "You are about to delete this record, continue?",
            type: "warning",
            showCancelButton: true,
        }).then((result) =>
        {
            if (result.value)
            {
                $("#deleteSupplier").submit();
            }
        })
    });
    function CloseModal(data) {
        if (data.status === "success") {
            $('#modal-default').modal('hide');
            toastr.success('Unit of measure is deleted!', 'Delete', { timeOut: 50000, preventDuplicates: false });
            window.location.href = "@Url.Action("index", "Suppliers")";
        } else {
            swal.fire({
                title: "Error!",
                text: "An error occured. Please try again",
                type: "danger",
                showCancelButton: true,
            }).then((result) => {
                if (result.value) {
                    window.location.href = "@Url.Action("index", "Suppliers")";
                }
            })
        }
    };
</script>