@model IEnumerable<PUPFMIS.Models.Supplier>

<div class="modal-header">
    <h4 class="modal-title">Suppliers</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover" id="suppliersList">
                <thead>
                    <tr>
                        <th style="text-align:center;" width="20%">
                            @Html.DisplayNameFor(model => model.SupplierName)
                        </th>
                        <th style="text-align:center;" width="20%">
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </th>
                        <th style="text-align:center;" width="20%">
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th style="text-align:center;" width="20%">
                            @Html.DisplayNameFor(model => model.ContactPerson)
                        </th>
                        <th style="text-align:center;" width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayFor(m => item.SupplierName)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ContactPerson)
                            </td>
                            <td style="text-align:center;">
                                <button type="button" class="btn btn-success btn-sm" onclick="AddItem('@item.ID','@item.SupplierName', '@item.Address', '@item.ContactNumber', '@item.ContactPerson')"><i class="fa fa-check-circle"></i> Select Supplier</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

<script type="text/javascript">
    $(function () {
        $('#suppliersList').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
    function AddItem(supplierID, supplierName, supplierAddress, supplierContact, supplierContactPerson) {
        if(@ViewBag.SeqNo == 1)
        {
            $("#supplierID1").val(supplierID);
            $("#supplierName1").val(supplierName);
            $("#supplierAddress1").val(supplierAddress);
            $('#supplierContact1').val(supplierContact);
            $('#supplierContactPerson1').val(supplierContactPerson);
        }
        else if (@ViewBag.SeqNo == 2)
        {
            $("#supplierID2").val(supplierID);
            $("#supplierName2").val(supplierName);
            $("#supplierAddress2").val(supplierAddress);
            $('#supplierContact2').val(supplierContact);
            $('#supplierContactPerson2').val(supplierContactPerson);
        }
        else if (@ViewBag.SeqNo == 3)
        {
            $("#supplierID3").val(supplierID);
            $("#supplierName3").val(supplierName);
            $("#supplierAddress3").val(supplierAddress);
            $('#supplierContact3').val(supplierContact);
            $('#supplierContactPerson3').val(supplierContactPerson);
        }
        $('#modal-default').modal('hide');
    };
</script>
