@model PUPFMIS.Models.MyProjectsDashboard

@{
    ViewBag.Title = "My Procurement Projects";
    ViewBag.Description = "Dashboard";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">My Projects</li>
        <li class="breadcrumb-item">Dashboard</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-home"></i> My Projects Home</h3>
}

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.TotalProjectsAssignedToMe</h3>
                <p>No. of Projects Assigned</p>
            </div>
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3>@Model.TotalProjectsCoordinated</h3>
                <p>No. of Projects Coordinated</p>
            </div>
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="small-box bg-secondary">
            <div class="inner">
                <h3>@Model.TotalProjectsSupported</h3>
                <p>No. of Projects Supported</p>
            </div>
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="bg-info">
            <h5 class="p-2">Statistics</h5>
        </div>
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.NoOfProjectsWithSetTimeLine</h3>
                <p>Projects with set Timeline</p>
            </div>
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
        </div>
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.NoOfProjectsWithoutSetTimeLine</h3>
                <p>Projects without set Timeline</p>
            </div>
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="bg-info">
                    <h5 class="p-2">Projects without set Timeline</h5>
                </div>
                <div class="col-sm-12">
                    <table class="table table-hover table-striped" id="projectsWithoutTimeline">
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="50%">PAP Code</th>
                                <th style="text-align:center;" width="50%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProjectsWithoutSetTimeLine)
                            {
                                <tr>
                                    <td style="text-align:center;">@Html.DisplayFor(modelItem => item)</td>
                                    <td style="text-align:center;"><button class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("set-schedule", "ProcurementPipelines", new { Area = "procurement", PAPCode = item })'"><i class="fa fa-eye"></i> View Details</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="bg-info">
            <h5 class="p-2">Projects Status</h5>
        </div>
        <div class="col-sm-12">
            <table class="table table-hover table-striped" id="projectsWithTimeline">
                <thead>
                    <tr>
                        <th style="text-align:center;" width="40%">APP Project Item</th>
                        <th style="text-align:center;" width="10%">Fund Source</th>
                        <th style="text-align:center;" width="20%">Project Status</th>
                        <th style="text-align:center;" width="15%">Project Support</th>
                        <th style="text-align:center;" width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProjectsWithSetTimeLine)
                    {
                        <tr>
                            <td style="text-align:justify; vertical-align: top">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>PAP Code</b>
                                    </div>
                                    <div class="col-sm-8">
                                        : @Html.DisplayFor(modelItem => item.PAPCode)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Procurement Program</b>
                                    </div>
                                    <div class="col-sm-8">
                                       : @Html.DisplayFor(modelItem => item.ProcurementProgram)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <b>Procurement Schedule</b>
                                    </div>
                                    <div class="col-sm-8">
                                       : @Html.DisplayFor(modelItem => item.StartMonth) - @Html.DisplayFor(d => item.EndMonth)
                                    </div>
                                </div>
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(d => item.FundSource)
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(d => item.ProjectStatus)
                            </td>
                            <td style="text-align:center; vertical-align:middle">
                                @Html.DisplayFor(d => item.ProjectSupport)
                            </td>
                            <td style="text-align:center;"><button class="btn btn-sm btn-primary" onclick="window.location = '@Url.Action("details", "MyProjects", new { Area = "procurement", PAPCode = item.PAPCode })'"><i class="fa fa-eye"></i> View Details</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            $('#projectsWithTimeline').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
            });
        });
        $(function () {
            $('#projectsWithoutTimeline').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
            });
        });
</script>
