@model PUPFMIS.Models.APPHeader

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>APPHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKAgencyDetailsReference.AccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKAgencyDetailsReference.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecommendingApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecommendingApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
