@model IEnumerable<PUPFMIS.Models.PurchaseOrderHeader>

@{
    ViewBag.Title = "Purchase Orders";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Purchase Orders", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Purchase Orders</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            @*<button style="text-align:left;" class="btn btn-info btn-md" onclick='window.location = "@Url.Action("create", "EndUserProjects")"'><i class="fa fa-plus"></i> Create New Project</button>*@
            <button style="text-align:left;" class="btn btn-secondary btn-md"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayShortNameFor(model => model.First().PONumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FundCluster)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FKSupplier.SupplierName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>PO-2019-11-001</b>
                            <br />
                            <small><i>@DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")</i></small>
                        </td>
                        <td>General Fund</td>
                        <td>e-Copy Corporation</td>
                        <td style="vertical-align:middle; text-align:left;">
                            <span class="badge bg-warning" style="font-size:100%;">AWAITING RECEIPT OF NTP</span>
                            <br />
                            <i style="font-size:80%;">@DateTime.Now.ToString("dd MMMM yyyy hh:mmtt")</i>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <b>PO-2019-11-002</b>
                            <br />
                            <small><i>@DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")</i></small>
                        </td>
                        <td><i>No fund cluster yet.</i></td>
                        <td>Pinnacle Technologies, Inc.</td>
                        <td style="vertical-align:middle; text-align:left;">
                            <span class="badge bg-secondary" style="font-size:100%;">AWAITING APPROVAL</span>
                            <br />
                            <i style="font-size:80%;">@DateTime.Now.ToString("dd MMMM yyyy hh:mmtt")</i>
                        </td>
                        <td></td>
                    </tr>
                    @*@foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FKSupplier.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FiscalYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FundCluster)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PONumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PODate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
