@model PUPFMIS.Models.PPMPViewModel

@{
    ViewBag.Title = "PPMP";
    ViewBag.Description = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPMP", "index")</li>
        <li class="breadcrumb-item">Details</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> @Model.Header.PPMPType: @Model.Header.ReferenceNo</h1>
    </div>
}

@Html.HiddenFor(d => d.Header.Unit)
<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <a href="@Url.Action("print-ppmp", "ProjectProcurementManagementPlans", new { Area = "end-users", ReferenceNo = Model.Header.ReferenceNo })" target="_blank" class="btn btn-md btn-primary"><i class="fa fa-download"></i>&nbsp; Download</a>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index", "PPMP")'"><i class="fa fa-arrow-circle-left"></i>&nbsp; Back to List</button>
        </div>
    </div>
</div>
<br />
<h4>PPMP Information</h4>
<hr />
<div class="row">
    <div class="col-sm-12 pl-0 pr-0 ml-0 mr-0">
        <div class="card card-primary card-outline">
            <div class="card-header d-flex p-0">
                <ul class="nav nav-pills p-2">
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link active" href="#ppmpInformation" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; PPMP Details</a></li>
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link" href="#workFlowInformation" data-toggle="tab"><i class="fa fa-briefcase"></i>&nbsp; Workflow Information</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="ppmpInformation">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card card-info">
                                    <div class="card-header"><h3 class="card-title">PPMP Details</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Header.ReferenceNo, htmlAttributes: new { @class = "control-label" })
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                                        </div>
                                                        @Html.EditorFor(model => model.Header.ReferenceNo, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Header.ReferenceNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Header.FiscalYear, htmlAttributes: new { @class = "control-label" })
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                        @Html.EditorFor(model => model.Header.FiscalYear, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Header.FiscalYear, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Header.CreatedAt, htmlAttributes: new { @class = "control-label" })
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-calendar-check"></i></span>
                                                        </div>
                                                        @Html.EditorFor(model => model.Header.CreatedAt, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;", Value = ((DateTime)Model.Header.CreatedAt).ToString("dd MMMM yyyy hh:mm tt") } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Header.CreatedAt, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Header.PreparedBy, htmlAttributes: new { @class = "control-label" })
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                        </div>
                                                        @Html.EditorFor(model => model.Header.PreparedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled", style = "font-size: 100%;" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Header.PreparedBy, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="workFlowInformation">
                    <div class="card-body">
                        <div class="card card-info">
                            <div class="card-header"><h3 class="card-title">Workflow Information</h3></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-body table-responsive p-sm-0">
                                            <table class="table table-striped table-hover" id="workflowItems">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; vertical-align: middle;" width="20%">Date</th>
                                                        <th style="text-align: center; vertical-align: middle;" width="35%">Details</th>
                                                        <th style="text-align: center; vertical-align: middle;" width="20%">Status</th>
                                                        <th style="text-align: center; vertical-align: middle;" width="25%">Office / Personnel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Workflow)
                                                    {
                                                        <tr>
                                                            <td><b>@item.UpdatedAt.ToString("dd MMM yyyy hh:mm tt")</b></td>
                                                            <td align="justify">@item.Remarks</td>
                                                            <td>@item.Status</td>
                                                            <td>@item.Office<br /><i>@item.Personnel</i></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h4>PPMP Line Items</h4>
<hr />
<div class="row">
    <div class="col-sm-12 pl-0 pr-0 ml-0 mr-0">
        <div class="card card-primary card-outline">
            <div class="card-header d-flex p-0">
                <ul class="nav nav-pills p-2">
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link active" href="#dbm" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; PART I. Items Available at DBM-PS</a></li>
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link" href="#nonDBM" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; PART II. Items Purchased from Other Sources</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="dbm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card card-info">
                                    <div class="card-header"><h3 class="card-title">AVAILABLE AT PROCUREMENT SERVICE STORES</h3></div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card-body table-responsive p-sm-0">
                                                    <table class="table table-striped table-hover" id="dbmItems">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2" width="45%" style="text-align:center; vertical-align:middle">Item and Specifications</th>
                                                                <th colspan="3" style="text-align:center; vertical-align:middle">Quantity Requirement</th>
                                                                <th rowspan="2" width="15%" style="text-align:center; vertical-align:middle">Unit Cost</th>
                                                                <th rowspan="2" width="14%" style="text-align:center; vertical-align:middle">Estimated Budget</th>
                                                            </tr>
                                                            <tr>
                                                                <th width="14%" colspan="2" style="text-align:center; vertical-align:middle">Distribution</th>
                                                                <th width="7%" style="text-align:center; vertical-align:middle">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.DBMItems)
                                                            {
                                                                <tr>
                                                                    <td style="text-align:justify; vertical-align: middle;">
                                                                        <span style="font-size:12pt"><b>@Html.DisplayFor(modelItem => item.ItemName) (<small><b>@Html.DisplayFor(modelItem => item.ItemCode)</b></small>)</b></span>
                                                                        <br /><br />
                                                                        <span style="font-size:9pt;">
                                                                            <b>@Html.DisplayNameFor(modelItem => item.ItemSpecifications)</b>
                                                                            <br />
                                                                            @Html.DisplayFor(modelItem => item.ItemSpecifications)
                                                                            <br /><br />
                                                                            <b>Unit of Measure : </b>@Html.DisplayFor(model => item.IndividualUOMReference)
                                                                            <br />
                                                                            <b>@Html.DisplayNameFor(modelItem => item.Remarks) : </b>@Html.DisplayFor(model => item.Remarks)
                                                                            <br />
                                                                            <b>@Html.DisplayNameFor(modelItem => item.Project) : </b>(@Html.DisplayFor(model => item.ProjectCode)) @Html.DisplayFor(model => item.Project)
                                                                        </span>
                                                                    </td>
                                                                    <td style="text-align:left; vertical-align:top;" width="7%">
                                                                        @if (item.JanMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.JanMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.FebMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.FebMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.MarMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.MarMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.AprMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.AprMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.MayMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.MayMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.JunMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.JunMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.JulMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.JulMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.AugMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.AugMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.SepMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.SepMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.OctMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.OctMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.NovMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.NovMilestone)<span>:</span>
                                                                            <br />
                                                                        }
                                                                        @if (item.DecMilestone != null)
                                                                        {
                                                                            @Html.DisplayNameFor(modelItem => item.DecMilestone)<span>:</span>
                                                                        }
                                                                    </td>
                                                                    <td style="text-align:right; vertical-align:top;" width="7%">
                                                                        @if (item.JanMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.JanMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.FebMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.FebMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.MarMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.MarMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.AprMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.AprMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.MayMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.MayMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.JunMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.JunMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.JulMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.JulMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.AugMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.AugMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.SepMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.OctMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.OctMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.OctMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.NovMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.NovMilestone)
                                                                            <br />
                                                                        }
                                                                        @if (item.DecMilestone != null)
                                                                        {
                                                                            @Html.DisplayFor(modelItem => item.DecMilestone)
                                                                        }
                                                                    </td>
                                                                    <td style="text-align:center; vertical-align:top;">
                                                                        @Html.DisplayFor(modelItem => item.TotalQty)
                                                                    </td>
                                                                    <td style="text-align:right; vertical-align:top;">
                                                                        @( String.Format("{0:C}", item.UnitCost) )
                                                                    </td>
                                                                    <td style="text-align:right; vertical-align:top;">
                                                                        @( String.Format("{0:C}", item.EstimatedBudget) )
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="5" align="right"><h5>Total Estimated Budget (Part I):</h5></td>
                                                                <td align="right"><h5>@( string.Format("{0:C}", Model.DBMItems.Sum(d => d.EstimatedBudget)) )</h5></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="nonDBM">
                    <div class="card-body">
                        <div class="card card-info">
                            <div class="card-header"><h3 class="card-title">OTHER ITEMS NOT AVALABLE AT PS BUT REGULARLY PURCHASED FROM OTHER SOURCES</h3></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-body table-responsive p-sm-0">
                                            <table class="table table-striped table-hover" id="nonDBMItems">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" width="45%" style="text-align:center; vertical-align:middle">Item and Specifications</th>
                                                        <th colspan="3" style="text-align:center; vertical-align:middle">Quantity Requirement</th>
                                                        <th rowspan="2" width="15%" style="text-align:center; vertical-align:middle">Unit Cost</th>
                                                        <th rowspan="2" width="14%" style="text-align:center; vertical-align:middle">Estimated Budget</th>
                                                    </tr>
                                                    <tr>
                                                        <th width="14%" colspan="2" style="text-align:center; vertical-align:middle">Distribution</th>
                                                        <th width="7%" style="text-align:center; vertical-align:middle">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.NonDBMItems)
                                                    {
                                                        <tr>
                                                            <td style="text-align:justify; vertical-align: middle;">
                                                                <span style="font-size:12pt"><b>@Html.DisplayFor(modelItem => item.ItemName) (<small><b>@Html.DisplayFor(modelItem => item.ItemCode)</b></small>)</b></span>
                                                                <br /><br />
                                                                <b>@Html.DisplayNameFor(modelItem => item.ItemSpecifications)</b>
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.ItemSpecifications)
                                                                <br /><br />
                                                                <b>Unit of Measure : </b>@Html.DisplayFor(model => item.IndividualUOMReference)
                                                                <br />
                                                                <b>@Html.DisplayNameFor(modelItem => item.Remarks) : </b>@Html.DisplayFor(model => item.Remarks)
                                                                <br />
                                                                <b>@Html.DisplayNameFor(modelItem => item.Project) : </b>(@Html.DisplayFor(model => item.ProjectCode)) @Html.DisplayFor(model => item.Project)
                                                            </td>
                                                            <td style="text-align:left; vertical-align:top;" width="7%">
                                                                @Html.DisplayNameFor(modelItem => item.JanMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.FebMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.MarMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.AprMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.MayMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.JunMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.JulMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.AugMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.SepMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.OctMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.NovMilestone)<span>:</span>
                                                                <br />
                                                                @Html.DisplayNameFor(modelItem => item.DecMilestone)<span>:</span>
                                                            </td>
                                                            <td style="text-align:right; vertical-align:top;" width="7%">
                                                                @Html.DisplayFor(modelItem => item.JanMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.FebMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.MarMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.AprMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.MayMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.JunMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.JulMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.AugMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.SepMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.OctMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.NovMilestone)
                                                                <br />
                                                                @Html.DisplayFor(modelItem => item.DecMilestone)
                                                            </td>
                                                            <td style="text-align:center; vertical-align:top;">
                                                                @Html.DisplayFor(modelItem => item.TotalQty)
                                                            </td>
                                                            <td style="text-align:right; vertical-align:top;">
                                                                @( String.Format("{0:C}", item.UnitCost) )
                                                            </td>
                                                            <td style="text-align:right; vertical-align:top;">
                                                                @( String.Format("{0:C}", item.EstimatedBudget) )
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="5" align="right"><h5>Total Estimated Budget (Part II):</h5></td>
                                                        <td align="right"><h5>@( string.Format("{0:C}", Model.NonDBMItems.Sum(d => d.EstimatedBudget)) )</h5></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="float-right">
                            <h4>Total Estimated Budget: @( String.Format("{0:C}", Model.DBMItems.Sum(d => d.EstimatedBudget) + Model.NonDBMItems.Sum(d => d.EstimatedBudget)) )</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#dbmItems').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#nonDBMItems').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#workflowItems').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $("#submitPPMP").on('click', function (e) {
        e.preventDefault();
        swal.fire({
            title: "Submit PPMP?",
            text: "Submitting your PPMP shall be mean that it is final and is subject for approval, continue?",
            icon: "question",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "@Url.Action("submitPPMP", "PPMPCSE")",
                    data: { ReferenceNo: '@Model.Header.ReferenceNo.ToString()' },
                    success: window.location = "@Url.Action("index","PPMP")"
                })
            }
        })
    });
</script>