@model PUPFMIS.Models.BudgetPropsalVM

@{
    ViewBag.Title = "Budget Proposal";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPMP", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Budget Proposals</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">PPMP List</h3>
            </div>
            <div class="card-header d-flex p-0">
                <ul class="nav nav-pills p-2">
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link active" href="#original" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; Original</a></li>
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link" href="#supplemental" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; Supplemental</a></li>
                    <li class="nav-item" style="font-size:12pt;"><a class="nav-link" href="#amendatory" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; Amendatory</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="original">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-hover" id="ppmpListOriginal">
                                    <thead>
                                        <tr>
                                            <th width="25%" style="text-align:center; vertical-align:middle">Reference No</th>
                                            <th width="40%" style="text-align:center; vertical-align:middle">Classification</th>
                                            <th width="20%" style="text-align:center; vertical-align:middle">Estimated Budget</th>
                                            <th width="15%" style="text-align:center; vertical-align:middle">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PPMPList.Where(d => d.PPMPType == PUPFMIS.Models.PPMPTypes.CommonUse || d.PPMPType == PUPFMIS.Models.PPMPTypes.Original).OrderBy(d => d.ReferenceNo).ToList())
                                        {
                                            <tr>
                                                <td align="left">@Html.DisplayFor(d => item.ReferenceNo)</td>
                                                <td align="left">
                                                    @Html.DisplayFor(d => item.Classification)
                                                    <br />
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.NewPPMP)
                                                    {
                                                        <span class="badge bg-primary p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.ForwardedToBudgetOffice || item.Status == PUPFMIS.Models.PPMPStatus.ReturnedForRevision)
                                                    {
                                                        <span class="badge bg-warning p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.EvaluatedByBudgetOffice || item.Status == PUPFMIS.Models.PPMPStatus.PostedToAPP)
                                                    {
                                                        <span class="badge bg-success p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                </td>
                                                <td align="right">@( item.EstimatedBudget.ToString("C", new System.Globalization.CultureInfo("en-ph")) )</td>
                                                <td align="center">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-primary btn-sm mb-1" onclick="onclick = window.location = '@Url.Action("details", "ProjectProcurementManagementPlans", new { Area = "end-users", ReferenceNo = item.ReferenceNo })'"><i class="fa fa-eye"></i> View Details</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" align="right"><h6><b>Total Estimated Budget:</b></h6></td>
                                            <td align="right"><h6><b>@( Model.PPMPList.Where(d => d.PPMPType == PUPFMIS.Models.PPMPTypes.CommonUse || d.PPMPType == PUPFMIS.Models.PPMPTypes.Original).Sum(d => d.EstimatedBudget).ToString("C", new System.Globalization.CultureInfo("en-ph")) )</b></h6></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Model.PPMPList.Where(d => d.Status == PUPFMIS.Models.PPMPStatus.NewPPMP && (d.PPMPType == PUPFMIS.Models.PPMPTypes.CommonUse || d.PPMPType == PUPFMIS.Models.PPMPTypes.Original)).ToList().Count > 0)
                    {
                        <div class="card-footer">
                            <div class="float-right">
                                @using (Ajax.BeginForm("submit", "ProjectProcurementManagementPlans", new { Area = "end-users", FiscalYear = (int)Model.PPMPList.Select(d => d.FiscalYear).First(), PPMPType = PUPFMIS.Models.PPMPTypes.Original }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "ppmpOriginal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" style="width:153px;" class="btn btn-primary btn-md" onclick="SubmitPPMP()"><i class="fa fa-share-alt"></i> Submit PPMP</button>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="supplemental">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-hover" id="ppmpListSupplemental">
                                    <thead>
                                        <tr>
                                            <th width="25%" style="text-align:center; vertical-align:middle">Reference No</th>
                                            <th width="40%" style="text-align:center; vertical-align:middle">Classification</th>
                                            <th width="20%" style="text-align:center; vertical-align:middle">Estimated Budget</th>
                                            <th width="15%" style="text-align:center; vertical-align:middle">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PPMPList.Where(d => d.PPMPType == PUPFMIS.Models.PPMPTypes.Supplemental).OrderBy(d => d.ReferenceNo).ToList())
                                        {
                                            <tr>
                                                <td align="left">@Html.DisplayFor(d => item.ReferenceNo)</td>
                                                <td align="left">
                                                    @Html.DisplayFor(d => item.Classification)
                                                    <br />
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.NewPPMP)
                                                    {
                                                        <span class="badge bg-primary p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.ForwardedToBudgetOffice || item.Status == PUPFMIS.Models.PPMPStatus.ReturnedForRevision)
                                                    {
                                                        <span class="badge bg-primary p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.EvaluatedByBudgetOffice || item.Status == PUPFMIS.Models.PPMPStatus.PostedToAPP)
                                                    {
                                                        <span class="badge bg-success p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                </td>
                                                <td align="right">@( item.EstimatedBudget.ToString("C", new System.Globalization.CultureInfo("en-ph")) )</td>
                                                <td align="center">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-primary btn-sm mb-1" onclick="onclick = window.location = '@Url.Action("details", "ProjectProcurementManagementPlans", new { Area = "end-users", ReferenceNo = item.ReferenceNo })'"><i class="fa fa-eye"></i> View Details</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" align="right"><h6><b>Total Estimated Budget:</b></h6></td>
                                            <td align="right"><h6><b>@( Model.PPMPList.Where(d => d.PPMPType == PUPFMIS.Models.PPMPTypes.Supplemental).Sum(d => d.EstimatedBudget).ToString("C", new System.Globalization.CultureInfo("en-ph")) )</b></h6></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Model.PPMPList.Where(d => d.Status == PUPFMIS.Models.PPMPStatus.NewPPMP && (d.PPMPType == PUPFMIS.Models.PPMPTypes.Supplemental)).ToList().Count > 0)
                    {
                        <div class="card-footer">
                            <div class="float-right">
                                @using (Ajax.BeginForm("submit", "ProjectProcurementManagementPlans", new { Area = "end-users", FiscalYear = (int)Model.PPMPList.Select(d => d.FiscalYear).First(), PPMPType = PUPFMIS.Models.PPMPTypes.Supplemental }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "ppmpOriginal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" style="width:153px;" class="btn btn-primary btn-md" onclick="SubmitPPMP()"><i class="fa fa-share-alt"></i> Submit PPMP</button>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane" id="amendatory">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-hover" id="ppmpListAmendatory">
                                    <thead>
                                        <tr>
                                            <th width="25%" style="text-align:center; vertical-align:middle">Reference No</th>
                                            <th width="40%" style="text-align:center; vertical-align:middle">Classification</th>
                                            <th width="20%" style="text-align:center; vertical-align:middle">Estimated Budget</th>
                                            <th width="15%" style="text-align:center; vertical-align:middle">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PPMPList.Where(d => d.PPMPType == PUPFMIS.Models.PPMPTypes.Amendatory).OrderBy(d => d.ReferenceNo).ToList())
                                        {
                                            <tr>
                                                <td align="left">@Html.DisplayFor(d => item.ReferenceNo)</td>
                                                <td align="left">
                                                    @Html.DisplayFor(d => item.Classification)
                                                    <br />
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.NewPPMP)
                                                    {
                                                        <span class="badge bg-primary p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.ForwardedToBudgetOffice || item.Status == PUPFMIS.Models.PPMPStatus.ReturnedForRevision)
                                                    {
                                                        <span class="badge bg-primary p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                    @if (item.Status == PUPFMIS.Models.PPMPStatus.EvaluatedByBudgetOffice || item.Status == PUPFMIS.Models.PPMPStatus.PostedToAPP)
                                                    {
                                                        <span class="badge bg-success p-1" style="font-size:100%;">@( item.Status.GetAttribute<System.ComponentModel.DataAnnotations.DisplayAttribute>().Name )</span>
                                                    }
                                                </td>
                                                <td align="right">@( item.EstimatedBudget.ToString("C", new System.Globalization.CultureInfo("en-ph")) )</td>
                                                <td align="center">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-primary btn-sm mb-1" onclick="onclick = window.location = '@Url.Action("details", "ProjectProcurementManagementPlans", new { Area = "end-users", ReferenceNo = item.ReferenceNo })'"><i class="fa fa-eye"></i> View Details</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" align="right"><h6><b>Total Estimated Budget:</b></h6></td>
                                            <td align="right"><h6><b>@( Model.PPMPList.Where(d => d.PPMPType == PUPFMIS.Models.PPMPTypes.Amendatory).Sum(d => d.EstimatedBudget).ToString("C", new System.Globalization.CultureInfo("en-ph")) )</b></h6></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @if (Model.PPMPList.Where(d => d.Status == PUPFMIS.Models.PPMPStatus.NewPPMP && (d.PPMPType == PUPFMIS.Models.PPMPTypes.Amendatory)).ToList().Count > 0)
                    {
                        <div class="card-footer">
                            <div class="float-right">
                                @using (Ajax.BeginForm("submit", "ProjectProcurementManagementPlans", new { Area = "end-users", FiscalYear = (int)Model.PPMPList.Select(d => d.FiscalYear).First(), PPMPType = PUPFMIS.Models.PPMPTypes.Supplemental }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "ppmpOriginal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" style="width:153px;" class="btn btn-primary btn-md" onclick="SubmitPPMP()"><i class="fa fa-share-alt"></i> Submit PPMP</button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#ppmpListOriginal').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true
        });
    });
    $(function () {
        $('#ppmpListSupplemental').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true
        });
    });
    $(function () {
        $('#ppmpListAmendatory').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true
        });
    });
    $(function () {
        $('#ppmpYearsList').DataTable({
            "paging": false,
            "pageLength": 3,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
        });
    });
    function SubmitPPMP() {
        swal.fire({
            title: "Submit PPMP?",
            text: "You are about submit your PPMP, continue?",
            icon: "question",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#ppmpOriginal").submit();
            }
            else {
                swal.fire({
                    title: "Cancelled!",
                    text: "You have cancelled saving the record.",
                    icon: "error"
                })
            };
        })
    }
    function CreateResult(data) {
        if (data.result == true) {
            swal.fire({
                title: "PPMP Submitted!",
                text: "PPMPs are successfully forwarded to Budget Office.",
                icon: "success"
            }).then((result) => {
                if (result.value) {
                    var url = "@Url.Action("dashboard", "ProjectProcurementManagementPlans", new { Area = "end-users" })";
                    window.location.href = url;
                }
            })
        }
        else {
            swal.fire({
                title: "Record Not Saved!",
                text: "Saving record failed.",
                icon: "error"
            });
        }
    }
</script>