@model IEnumerable<PUPFMIS.Models.PhysicalCountSupplies>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.FKSuppliesReference.StockNo)
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                Description
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                Unit of Measure
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                Balance per Stock Card
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.UnitValue)
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.OnHandPerCount)
            </th>
            <th colspan="2" style="vertical-align:middle; text-align:center;">
                Shortage/Overage
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
        </tr>
        <tr>
            <th style="vertical-align:middle; text-align:center;">
                Quantity
            </th>
            <th style="vertical-align:middle; text-align:center;">
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FKCountReference.PhysicalInventoryNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FKSuppliesReference.StockNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnHandPerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverageShortage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }*@
    </tbody>
</table>
