@model PUPFMIS.Models.RegisterViewModel
@{
    ViewBag.Title = "Accounts";
    ViewBag.Description = "Registration";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

@*@section BreadCrumb {
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FMIS Portal", "dashboardv1", "Dashboard")</a></li>
        <li>@Html.ActionLink("Accounts Registration", "Index")</li>
    </ol>
}*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="min-height: 100%; min-height: 95vh; display: flex; align-items: center;">
        <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="background-color:rgba(255, 255, 255, 0.8); border-radius:10px;">
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Request for an FMIS Account</h2>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="col-md-7">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Personnel Details</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.Label("Department", htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                                                    </div>
                                                    @Html.DropDownList("Office", null, htmlAttributes: new { @class = "form-control", onchange="GetEmployees()" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.Label("Employee Name", htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                                                    </div>
                                                    @Html.DropDownList("EmployeeName", null, htmlAttributes: new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Account Details</h3>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <div class="col-md-12">
                                <input type="submit" value="Submit" class="btn btn-success" />
                                <input value="Back" class="btn btn-danger" />
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <br />  
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
}