@model PUPFMIS.Models.EndUserProject

@{
    ViewBag.Title = "End-User Projects";
    ViewBag.Description = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("End-User Projects", "index")</li>
        <li class="breadcrumb-item">Details</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-left">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> Project Code :: <b>@Model.Code</b> </h1>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectStatus, htmlAttributes: new { @class = "control-label" })
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bell"></i></span>
                </div>
                @Html.EditorFor(model => model.ProjectStatus, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%;", Value = "New Project", disabled = "disabled" } })
            </div>
            @Html.ValidationMessageFor(model => model.ProjectStatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.FiscalYear, htmlAttributes: new { @class = "control-label" })
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                @Html.EditorFor(model => model.FiscalYear, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%;", disabled = "disabled" } })
            </div>
            @Html.ValidationMessageFor(model => model.FiscalYear, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectStart, htmlAttributes: new { @class = "control-label" })
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-plus"></i></span>
                </div>
                @Html.EditorFor(model => model.ProjectStart, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%;", disabled = "disabled", Value = Model.ProjectStart.ToString("dd MMMM yyyy") } })
            </div>
            @Html.ValidationMessageFor(model => model.ProjectStart, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndUser, htmlAttributes: new { @class = "control-label" })
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                @Html.EditorFor(model => model.EndUser, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%;", type = "text", disabled = "disabled" } })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label" })
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                </div>
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size:100%;", disabled = "disabled" } })
            </div>
            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Purpose, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

@section FormFooter {
    <div class="form-group float-right">
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index","EndUserProjects")'"><i class="fa fa-arrow-circle-left"></i> Back</button>
    </div>
}