@model IEnumerable<PUPFMIS.Models.EndUserProject>

@{
    ViewBag.Title = "End-User Projects";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("End-User Projects", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Project List</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button style="text-align:left;" class="btn btn-info btn-md" onclick='window.location = "@Url.Action("create", "EndUserProjects")"'><i class="fa fa-plus"></i> Create New Project</button>
            <button style="text-align:left;" class="btn btn-secondary btn-md"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th style="vertical-align:middle; text-align:center;">@Html.DisplayNameFor(m => m.Code)</th>
                        <th style="vertical-align:middle; text-align:center;">@Html.DisplayNameFor(m => m.ProjectName)</th>
                        <th style="vertical-align:middle; text-align:center;">@Html.DisplayNameFor(m => m.ProjectStatus)</th>
                        <th style="vertical-align:middle; text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align:middle; text-align:center;">
                                @Html.DisplayFor(m => item.Code)
                            </td>
                            <td style="vertical-align:middle; text-align:left;">
                                @Html.DisplayFor(m => item.ProjectName)
                            </td>
                            <td style="vertical-align:middle; text-align:left;">
                                <span class="badge bg-secondary" style="font-size:100%;">&emsp; @Html.DisplayFor(m => item.ProjectStatus).ToString().ToUpper() &emsp;</span>
                                <br />
                                <i style="font-size:80%;">@item.CreatedAt.ToString("dd MMMM yyyy hh:mm tt")</i>
                            </td>
                            <td style="vertical-align:middle; text-align:center;">
                                <button type="button" class="btn btn-sm btn-primary" style="width: 175px; margin-top: 2.5px; margin-bottom: 2.5px;" onclick="window.location = '@Url.Action("details", "EndUserProjects", new { id = item.ID })'"><i class="fa fa-eye"></i> View Project Details</button>
                                <br />
                                <button type="button" class="btn btn-sm btn-warning" style="width: 175px; margin-top: 2.5px; margin-bottom: 2.5px;" onclick="window.location = '@Url.Action("indexmarketsurvey", "EndUserProjects", new { id = item.ID })'"><i class="fa fa-eye"></i> View Market Survey</button>
                                <br />
                                <button type="button" class="btn btn-sm btn-info" style="width: 175px; margin-top: 2.5px; margin-bottom: 2.5px;" onclick="window.location = '@Url.Action("edit", "EndUserProjects", new { id = item.ID })'"><i class="fa fa-edit"></i> Edit Project Details</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript">
    var options = { "backdrop": "static", keyboard: true };
    function loadModal(url) {
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#modal-container').html(data);
                $('#modal-default').modal(options);
                $('#modal-default').modal('show');
            }
        });
    }
</script>