@{
    ViewBag.Title = "Budget Proposals";
    ViewBag.Description = "Items Evaluation";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPMP Approval", "index")</li>
        <li class="breadcrumb-item">Items Evaluation</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> @Model.OfficeName</h3>
}

@using (Ajax.BeginForm("update-details", "PPMPApproval", new { Area = "budget" },  new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "addItem" }))
{
    <div id="form-container">
        @Html.Partial("_Form")
    </div>
}
<div class="card-footer">
    <div class="row">
        <div class="col-sm-12">
            <div style="text-align: right;">
                <button type="button" class="btn btn-md btn-primary" onclick="SaveChanges()"><i class="fa fa-plus-circle"></i> Save Changes</button>
                <button type="button" class="btn btn-md btn-danger" onclick="window.location = '@Url.Action("office-ppmp-list", "PPMPApproval", new { Area = "budget" })'"><i class="fa fa-arrow-circle-left"></i> Back to Accounts List</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#lineItems').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#ppmpList').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
        });
    });

    function disableElements(item) {
        document.getElementsByName('NewSpendingItems[' + item + '].ReducedQuantity')[0].disabled = true;
        document.getElementsByName('NewSpendingItems[' + item + '].FundSource')[0].disabled = true;
    };

    function enableElements(item) {
        document.getElementsByName('NewSpendingItems[' + item + '].ReducedQuantity')[0].disabled = false;
        document.getElementsByName('NewSpendingItems[' + item + '].FundSource')[0].disabled = false;
    };
    $("#updateList").on('click', function (e) {
        e.preventDefault();
        $("#addUnit").submit();
    });
</script>
<script type="text/javascript">
    function SaveChanges() {
        swal.fire({
            title: "Save Changes?",
            html: "<p>You are about to save changes, continue?</p>",
            type: "warning",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#addItem").submit();
            }
            else {
                swal.fire({
                    title: "Cancelled!",
                    text: "You have cancelled saving the record.",
                    type: "error"
                })
            };
        })
    }
    function CreateResult(data) {
        if (data == true) {
            swal.fire({
                title: "Record Saved!",
                text: "@Model.AccountTitle" + " items are successfuly evaluated.",
                type: "success"
            }).then((result) => {
                if (result.value) {
                    window.location.href = "@Url.Action("office-ppmp-list", "PPMPApproval", new { Area = "budget", OfficeCode = Model.OfficeCode, FiscalYear = ViewBag.FiscalYear })";
                }
            })
        }
    }
</script>