@model PUPFMIS.Models.SuppliesMaster

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuppliesMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKItem.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKItem.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKUOMDelivery.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKUOMDelivery.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKUOMDistribution.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKUOMDistribution.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
