@model PUPFMIS.Models.Basket

@{
    ViewBag.Title = "Items Basket";
    ViewBag.Description = "View";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-tachometer-alt"></i>&nbsp;@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Dashboard", "dashboard", "Dashboard", new { area = "end-users" }, null)</li>
        <li class="breadcrumb-item">Basket</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> Items Basket</h1>
    </div>
}

@using (Ajax.BeginForm("post-to-project", "Catalogue", new { Area = "end-users", ProjectCode = Model.ProjectCode }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult", UpdateTargetId = "form-container" }, htmlAttributes: new { id = "addItem" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger", style = "font-size: 12pt;" })
    @Html.HiddenFor(model => model.ProjectCode)

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Line Items</h3>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive p-sm-0">
                        <table class="table table-striped table-hover" id="basket">
                            <thead>
                                <tr>
                                    <th width="35%" style="text-align:center; vertical-align:middle">Items</th>
                                    <th width="15%" style="text-align:center; vertical-align:middle">Total Qty</th>
                                    <th width="15%" style="text-align:center; vertical-align:middle">Unit Cost</th>
                                    <th width="15%" style="text-align:center; vertical-align:middle">Estimated Budget</th>
                                    <th width="20%" style="text-align:center; vertical-align:middle">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BasketItems)
                                {
                                    <tr>
                                        <td style="text-align:left; vertical-align: top;">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span style="font-size:10pt"><b>@Html.DisplayFor(modelItem => item.ItemName) (<small style="font-size:8pt;"><b>@Html.DisplayFor(modelItem => item.ItemCode)</b></small>)</b></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center; vertical-align: top;">
                                            @Html.DisplayFor(modelItem => item.TotalQty)
                                        </td>
                                        <td style="text-align:right; vertical-align:top;">
                                            @if (item.UnitCost != null)
                                            {
                                                @( item.UnitCost.Value.ToString("C", new System.Globalization.CultureInfo("en-ph")) )
                                            }
                                            else
                                            {
                                                <p style="text-align:left"><b><i>Market Survey to be updated by @item.ResponsibilityCenter</i></b></p>
                                            }
                                        </td>
                                        <td style="text-align:right; vertical-align:top;">
                                            @( String.Format("{0:C}", item.EstimatedBudget) )
                                        </td>
                                        <td style="text-align: center; vertical-align:middle;">
                                            <div class="row mb-1">
                                                <div class="col-sm-12">
                                                    <button type="button" style="width: 85px;" class="btn btn-sm btn-warning" onclick="window.location = '@Url.Action("add-to-basket", "Catalogue", new { ItemCode = item.ItemCode })'"><i class="fa fa-edit"></i> Update</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <button type="button" style="width: 85px;" class="btn btn-sm btn-danger" id="remove-btn" onclick="window.location.href = '@Url.Action("remove-basket-item", "Catalogue", new { ItemCode = item.ItemCode })'"><i class="fa fa-times"></i> Remove</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" align="right"><h5>Total Estimated Budget:</h5></td>
                                    <td align="right"><h5>@( string.Format("{0:C}", Model.BasketItems.Sum(d => d.EstimatedBudget)) )</h5></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group float-right">
                @if (Model.BasketItems.Count > 0)
                {
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Post Items to Project</button>
                    <button type="button" class="btn btn-secondary" onclick='window.location = "@Url.Action("clear-basket", "Catalogue", new { Area = "end-users", ProjectCode = Model.ProjectCode })"'><i class="fa fa-eraser"></i> Clear Basket Items</button>
                }
                <button type="button" class="btn btn-danger" onclick='window.location = "@Url.Action("view-catalogue", "Catalogue", new { Area = "end-users", ProjectCode = Model.ProjectCode })"'><i class="fa fa-arrow-circle-left"></i> Back to Catalogue</button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('#items').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    $(function () {
        $('#basket').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
        });
    });
    function CreateResult(data) {
        if (data.result == true) {
            swal.fire({
                title: "Basket Items Posted!",
                text: "Basket Items are successfully posted to Project.",
                icon: "success"
            }).then((result) => {
                if (result.value) {
                    window.location.href = "@Url.Action("project-details", "ProjectPlans", new { Area = "end-users", ProjectCode = ((PUPFMIS.Models.Basket)Session["Basket"]).ProjectCode })";
                }
            })
        }
        else {
            swal.fire({
                title: "Record Not Saved!",
                text: "Saving record failed.",
                icon: "error"
            });
        }
    }
</script>