@model PUPFMIS.Models.PPE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKSubCategoryMaster.ProcurementCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKSubCategoryMaster.ProcurementCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKUACS.UACS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKUACS.UACS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKUnit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKUnit.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsefulLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsefulLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepreciationRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepreciationRate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
