@model IEnumerable<PUPFMIS.Models.PPE>

@{
    ViewBag.Title = "Property, Plant and Equipment";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPEs", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> PPE List</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            @if (ViewBag.Type == "custodian")
            {
                <button style="text-align:left;" class="btn btn-info btn-md" onclick='window.location = "@Url.Action("create", "PPEs")"'><i class="fa fa-plus"></i> Add New PPE</button>
            }
            <button style="text-align:left;" class="btn btn-secondary btn-md"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped" id="example2">
                <thead>
                    <tr>
                        <th rowspan="2" style="vertical-align:middle">Property, Plant, Equipment</th>
                        <th colspan="5" style="text-align:center">Quantity</th>
                        <th rowspan="2" style="vertical-align:middle; text-align:center" width="20%">Action</th>
                    </tr>
                    <tr>
                        <th style="vertical-align:middle; text-align:center;" width="10%">Newly Accepted</th>
                        <th style="vertical-align:middle; text-align:center;" width="10%">Issued</th>
                        <th style="vertical-align:middle; text-align:center;" width="10%">Disposed</th>
                        <th style="vertical-align:middle; text-align:center;" width="10%">Unassigned</th>
                        <th style="vertical-align:middle; text-align:center;" width="10%">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b>AIR-CONDITIONING UNIT, WINDOW TYPE</b>
                            <br />
                            UNIT: <i>Unit</i>
                            <br />
                            SPECIFICATIONS:
                            <br />
                            <i>
                                Brand: Koppel; 2 H/P; Other specifications...
                            </i>
                        </td>
                        <td style="vertical-align:middle; text-align:center">50</td>
                        <td style="vertical-align:middle; text-align:center">40</td>
                        <td style="vertical-align:middle; text-align:center">3</td>
                        <td style="vertical-align:middle; text-align:center">7</td>
                        <td style="vertical-align:middle; text-align:center">100</td>
                        <td style="vertical-align:middle; text-align:center">
                            @if (ViewBag.Type == "custodian")
                            {
                                <button type="button" class="btn btn-sm btn-primary" style="width:200px; margin-bottom:3px; font-size:90%;" onclick="window.location = '@Url.Action("propertycards", "PPEs", new { id = 0 })'"><i class="fa fa-eye"></i> View Property Cards</button>
                                <br />
                            }
                            @if (ViewBag.Type == "warehouse")
                            {
                                <button type="button" class="btn btn-sm btn-success" style="width:200px; margin-bottom:3px; font-size:90%;" onclick="window.location = '@Url.Action("propertynumberassignment", "PPEs", new { id = 0 })'"><i class="fa fa-hashtag"></i> Assign Property Number</button>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>COMPUTER, DESKTOP</b>
                            <br />
                            UNIT: <i>Unit</i>
                            <br />
                            SPECIFICATIONS:
                            <br />
                            <i>
                                DELL VOSTRO; Other specifications...
                            </i>
                        </td>
                        <td style="vertical-align:middle; text-align:center">0</td>
                        <td style="vertical-align:middle; text-align:center">250</td>
                        <td style="vertical-align:middle; text-align:center">0</td>
                        <td style="vertical-align:middle; text-align:center">0</td>
                        <td style="vertical-align:middle; text-align:center">200</td>
                        <td style="vertical-align:middle; text-align:center">
                            @if (ViewBag.Type == "custodian")
                            {
                                <button type="button" class="btn btn-sm btn-primary" style="width:200px; margin-bottom:3px; font-size:90%;" onclick="window.location = '@Url.Action("propertycards", "PPEs", new { id = 0 })'"><i class="fa fa-eye"></i> View Property Cards</button>
                                <br />
                            }
                            @if (ViewBag.Type == "warehouse")
                            {
                                <button type="button" class="btn btn-sm btn-success" style="width:200px; margin-bottom:3px; font-size:90%;" onclick="window.location = '@Url.Action("propertynumberassignment", "PPEs", new { id = 0 })'"><i class="fa fa-hashtag"></i> Assign Property Number</button>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
