@model IEnumerable<PUPFMIS.Models.PropertyCard>

<table class="table display table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FKOffice.OfficeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FKPPE.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundCluster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptUnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FKOffice.OfficeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FKPPE.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FundCluster)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptUnitCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueOfficer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }*@
    </tbody>
</table>
