@model PUPFMIS.Models.PPE

@{
    ViewBag.Title = "Property, Plant and Equipment";
    ViewBag.Description = "Assignment";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
    List<PUPFMIS.Models.PPEInstance> PPEInstance = new List<PUPFMIS.Models.PPEInstance>(); 
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("PPEs", "index")</li>
        <li class="breadcrumb-item">Property Number Assignment</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-hashtag"></i> PROPERTY NUMBER ASSIGNEMNT</h1>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">PPE Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FKItem.FkProcurementCategory.ProcurementCategoryName, "Classification", htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-question"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.FKItem.FkProcurementCategory.ProcurementCategoryName, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FKItem.ItemName, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.FKItem.ItemName, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FKItem.ItemSpecifications, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-list-ul"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.FKItem.ItemSpecifications, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Unit, "Unit", htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-ruler"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UACSObjectAccountCode, "UACS Object Account Code", htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-code"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.UACSObjectAccountCode, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsefulLife, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-heartbeat"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.UsefulLife, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DepreciationRate, htmlAttributes: new { @class = "control-label" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-arrow-circle-down"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.DepreciationRate, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.DepreciationRate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h3 class="card-title">Accepted Properties</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            @Html.Label("Newly Accepted PPEs", new { htmlAttributes = new { @class = "control-lable", style = "font-size: 100%;" } })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-boxes"></i></span>
                                </div>
                                @Html.Editor("NoOfUnassigned", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            @Html.Label("Qty to be Assigned Property Number", new { htmlAttributes = new { @class = "control-label", style = "font-size: 100%" } })
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-numeric-up"></i></span>
                                </div>
                                @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;", type = "number", Min = "1", Value = "1" } })
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" style="font-size:100%;"><i class="fa fa-plus"></i> Add row(s)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table display table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayShortNameFor(m => PPEInstance.First().Identifier)</th>
                                        <th>@Html.DisplayNameFor(m => PPEInstance.First().PropertyNo)</th>
                                        <th>@Html.DisplayNameFor(m => PPEInstance.First().Location)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                                </div>
                                                @Html.Editor("Identifier", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                                
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                                </div>
                                                @Html.Editor("PropertyNo", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-home"></i></span>
                                                </div>
                                                @Html.Editor("Location", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                                </div>
                                                @Html.Editor("Identifier", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                                </div>
                                                @Html.Editor("PropertyNo", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-home"></i></span>
                                                </div>
                                                @Html.Editor("Location", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                                                </div>
                                                @Html.Editor("Identifier", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-id-badge"></i></span>
                                                </div>
                                                @Html.Editor("PropertyNo", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-home"></i></span>
                                                </div>
                                                @Html.Editor("Location", new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}