@model IEnumerable<PUPFMIS.Models.PropertyCard>


<table class="table display table-hover" id="example2">
    <thead>
        <tr>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;" width="5%">
                Receipt Qty
            </th>
            <th colspan="2" style="vertical-align:middle; text-align:center;">
                Issue/Transfer/Disposal
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;" width="5%">
                Balance Qty
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center;">
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
        </tr>
        <tr>
            <th style="vertical-align:middle; text-align:center;" width="5%">
                @Html.DisplayNameFor(model => model.IssueQty)
            </th>
            <th style="vertical-align:middle; text-align:center;" width="25%">
                Office/Officer
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FKOffice.OfficeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FKPPE.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FundCluster)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiptQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiptUnitCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueOfficer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BalanceQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                    </td>
                </tr>
            }*@
    </tbody>
</table>

<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/adminlte/components/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript">
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
</script>