@model PUPFMIS.Models.PARDetails

@{
    ViewBag.Title = "Assigned Properties";
    ViewBag.Description = "Transfer Location";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Assigned Properties", "index")</li>
        <li class="breadcrumb-item">Update Location</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> Update Location</h1>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PPE Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKPARHeader.PARNo, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                        </div>
                        @Html.EditorFor(m => m.FKPARHeader.PARNo, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%" } })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKPARHeader.DateIssued, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(m => m.FKPARHeader.DateIssued, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKPARHeader.ReceivedFrom, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        @Html.EditorFor(m => m.FKPARHeader.ReceivedFrom, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;" } })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h3 class="card-title">Transfer Details</h3>
        <br />
        <hr />
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("TransferLocationDetails")
            </div>
        </div>
    </div>

    @section FormFooter {
        <div class="form-group float-right">
            <button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("assignedpropertyindex", "PPEs")'"><i class="fa fa-save"></i> Save Changes</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("assignedpropertyindex", "PPEs")'"><i class="fa fa-arrow-circle-left"></i> Back</button>
        </div>
    }
}
