@model IEnumerable<PUPFMIS.Models.PurchaseOrderDetails>

<table class="table display table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FKItemsReference.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity) Ordered
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCost)
            </th>
            <th>Quantity Delivered</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FKItemsReference.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FKPurchaseOrderReference.PONumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCost)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }*@
    </tbody>
</table>
