@model IEnumerable<PUPFMIS.Models.DeliveryHeader>

@{
    ViewBag.Title = "Deliveries Receipt";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Deliveries Receipt", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Received Deliveries</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button style="text-align:left;" class="btn btn-info btn-md" onclick='window.location = "@Url.Action("create", "Deliveries")"'><i class="fa fa-plus"></i> New Delivery Acceptance</button>
            <button style="text-align:left;" class="btn btn-secondary btn-md"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped" id="example2">
                <thead>
                    <tr>
                        <th width="10">
                            @Html.DisplayNameFor(model => model.DeliveryAcceptanceNumber)
                        </th>
                        <th width="30%">
                            Supplier
                        </th>
                        <th width="20%">
                            @Html.DisplayNameFor(model => model.DeliveryDate)
                        </th>
                        <th width="20%">
                            Status
                        </th>
                        <th width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="vertical-align:middle">19-11-001</td>
                        <td style="vertical-align:middle">Department of Budget and Management</td>
                        <td style="vertical-align:middle">@DateTime.Now.ToString("dd MMM yyyy hh:mm tt")</td>
                        <td style="vertical-align:middle">For Inspection</td>
                        <td style="vertical-align:middle" align="center">
                            <button type="button" class="btn btn-sm btn-primary" style="width:200px;" onclick="window.location = '@Url.Action("details", "Deliveries")'"><i class="fa fa-eye"></i> View Details</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">19-11-002</td>
                        <td style="vertical-align:middle">Department of Budget and Management</td>
                        <td style="vertical-align:middle">@DateTime.Now.ToString("dd MMM yyyy hh:mm tt")</td>
                        <td style="vertical-align:middle">For Verification</td>
                        <td style="vertical-align:middle" align="center">
                            <button type="button" class="btn btn-sm btn-warning" style="width:200px;" onclick="window.location = '@Url.Action("details", "Deliveries")'"><i class="fa fa-check"></i> Verify Receipt</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle">19-11-003</td>
                        <td style="vertical-align:middle">Department of Budget and Management</td>
                        <td style="vertical-align:middle">@DateTime.Now.ToString("dd MMM yyyy hh:mm tt")</td>
                        <td style="vertical-align:middle">For Acknowledgement</td>
                        <td style="vertical-align:middle" align="center">
                            <button type="button" class="btn btn-sm btn-success" style="width:200px;" onclick="window.location = '@Url.Action("details", "Deliveries")'"><i class="fa fa-thumbs-up"></i> Acknowledge Receipt</button>
                        </td>
                    </tr>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryAcceptanceNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FK_Supplier.SupplierName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PONumber)
                                </td>
                                <td>
                                    Status
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
