@model IEnumerable<PUPFMIS.Models.PurchaseOrderHeader>

<div class="modal-header">
    <h4 class="modal-title">Search Purchase Order </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" id="form-body">
    <table class="table table-striped table-hover" id="example2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PONumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FKSupplier.SupplierName)
                </th>
                <th>Fund Cluster</th>
                <th>
                    @Html.DisplayNameFor(model => model.PODate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FKSupplier.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PONumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PODate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
</script>

