@model PUPFMIS.Models.DeliveryWorkflow

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DateUpdated, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(model => model.DateUpdated, new { htmlAttributes = new { @class = "form-control", Value = DateTime.Now.ToString("dd MMMM yyyy hh:mm tt"), disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkflowTask, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-flag"></i></span>
                        </div>
                        @Html.EditorFor(model => model.WorkflowTask, new { htmlAttributes = new { @class = "form-control", Value = "Delivery Receipt Verification", disabled = "disabled", type = "text" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-comment"></i></span>
                        </div>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group float-right">
            <button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("index", "Deliveries")'">Update Workflow</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index", "Deliveries")'">Back</button>
        </div>
    </div>
}
