@model IEnumerable<PUPFMIS.Models.RequestHeader>

@{
    ViewBag.Title = "New Requests";
    ViewBag.Description = "Home";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Requests", "index")</li>
        <li class="breadcrumb-item">Home</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h3 class="card-title"><i class="fa fa-list-ul"></i> New Requests</h3>
    </div>
}

<table class="table table-bordered table-hover" id="example2">
    <thead>
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th width="25%">
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th width="15%">
                Request Type
            </th>
            <th width="25%">
                Purpose
            </th>
            <th width="15%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")
            </td>
            <td>
                <b>Procurement Management Office</b>
                <br />
                <i>PMO Staff</i>
            </td>
            <td>
                Supplies Request
            </td>
            <td>
                For daily transactions of the Office.
            </td>
            <td align="center">
                <button class="btn btn-warning" style="font-size:100%;" onclick="window.location = '@Url.Action("ReviewRequest", "Requests", new { id = 0, requestType = "supplies" })'"><i class="fa fa-balance-scale"></i> Review Request</button>
            </td>
        </tr>
        <tr>
            <td>
                @DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")
            </td>
            <td>
                <b>Procurement Management Office</b>
                <br />
                <i>PMO Staff</i>
            </td>
            <td>
                Semi-Expendable PPE Request
            </td>
            <td>
                Replacement of unserviceable printer in the Office.
            </td>
            <td align="center">
                <button class="btn btn-warning" style="font-size:100%;" onclick="window.location = '@Url.Action("ReviewRequest", "Requests", new { id = 0, requestType = "semi-expendable" })'"><i class="fa fa-balance-scale"></i> Review Request</button>
            </td>
        </tr>
        <tr>
            <td>
                @DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")
            </td>
            <td>
                <b>Office of the Vice President for Administration</b>
                <br />
                <i>OVPA Staff</i>
            </td>
            <td>
                PPE Request
            </td>
            <td>
                Replacement of old clerical tables.
            </td>
            <td align="center">
                <button class="btn btn-warning" style="font-size:100%;" onclick="window.location = '@Url.Action("ReviewRequest", "Requests", new { id = 0, requestType = "ppe" })'"><i class="fa fa-balance-scale"></i> Review Request</button>
            </td>
        </tr>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    Staff
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }*@
    </tbody>
</table>
