@model IEnumerable<PUPFMIS.Models.RequestForQuotationVM>

@{
    ViewBag.Title = "Abstract of Quotations";
    ViewBag.Description = "List";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Requests for Quotation", "dashboard", "RequestForQuotations", new { Area = "procurement" }, null)</li>
        <li class="breadcrumb-item">Abstract of Quotations</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-bookmark"></i> Abstact of Quotations</h3>
}
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="example2">
                <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;" width="20%">
                            @Html.DisplayNameFor(model => model.SolicitationNo)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="40%">
                            @Html.DisplayNameFor(model => model.ContractName)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="20%">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th style="text-align: center; vertical-align: middle;" width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center; vertical-align:middle;">
                                <b>@Html.DisplayFor(modelItem => item.SolicitationNo)</b>
                            </td>
                            <td style="text-align:left; vertical-align:middle;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>@Html.DisplayFor(modelItem => item.ContractName)</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <i>(@Html.DisplayFor(modelItem => item.ContractCode))</i>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>@Html.DisplayFor(modelItem => item.CreatedBy)</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <i>@( item.AbstractPreparedAt.Value.ToString("dd MMMM yyyy hh:mm tt") )</i>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align:center; vertical-align:middle;">
                                <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href = '@Url.Action("view-abstract", "RequestForQuotation", new { Area = "procurement", SolicitationNo = item.SolicitationNo })'"><i class="fa fa-eye"></i> View Details</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="float-right">
            <button type="button" class="btn btn-md btn-danger" onclick="window.location.href = '@Url.Action("dashboard", "RequestForQuotation", new { Area = "procurement" })'"><i class="fa fa-arrow-alt-circle-left"></i> Back to Dashboard</button>
        </div>
    </div>
</div>