@{
    ViewBag.Title = "Annual Procurement Plan";
    ViewBag.Description = "Create";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Annual Procurement Plan Dashboard", "dashboard", "AnnualProcurementPlans", new { Area = "procurement" }, null)</li>
        <li class="breadcrumb-item">Create APP</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-bookmark"></i> Create New Annual Procurement Plan</h3>
}

@if (ViewBag.FiscalYear.Items.Count != 0)
{
    using (Html.BeginForm("select-year", "AnnualProcurementPlans", FormMethod.Post))
    {
        <div id="form-container">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        @Html.Label("Select Fiscal Year", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("FiscalYear", null, htmlAttributes: new { @class = "form-control form-control-sm", style = "font-size: 100%" })
                    </div>
                </div>
                <div  class="col-lg-5 col-md-5 col-sm-12">
                    <div class="form-group mb-0">
                        <br />
                        <button type="submit" class="btn btn-primary btn-md mt-1" style="font-size:100%"><i class="fa fa-search"></i>&nbsp; View Approved Procurement Projects</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12 text-right">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("dashboard", "AnnualProcurementPlans", new { area = "procurement" })'"><i class="fa fa-arrow-alt-circle-left"></i>&nbsp; Back to Dashboard</button>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <h3>No Approved PPMPs found.</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="form-group">
                <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("dashboard", "AnnualProcurementPlans", new { area = "procurement" })'"><i class="fa fa-arrow-alt-circle-left"></i>&nbsp; Back to Dashboard</button>
            </div>
        </div>
    </div>
}