@model PUPFMIS.Models.AnnualProcurementPlanVM

@{
    ViewBag.Title = "Annual Procurement Plan";
    ViewBag.Description = "Update Status";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home", new { Area = "" }, null)</a></li>
        <li class="breadcrumb-item">Annual Procurement Plan</li>
        <li class="breadcrumb-item">Dashboard</li>
    </ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-bookmark"></i> Update Annual Procurement Plan Status</h3>
}

@using (Ajax.BeginForm("update", "ItemTypes", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "addItem", Area = "administration" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12">
            <div class="bg-info">
                <h6 class="p-2">ANNUAL PROCUREMENT PLAN DETAILS</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.FiscalYear, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.EditorFor(model => model.FiscalYear, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.ReferenceNo, htmlAttributes: new { @class = "control-label" })
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled" } })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.AgencyName, htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.AgencyName)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                    </div>
                    @Html.EditorFor(model => model.AgencyName, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled" } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Head of Procuring Entity (HOPE)", htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.ApprovedBy)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                    </div>
                    @Html.EditorFor(model => model.ApprovedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled", Value = Model.ApprovedBy.Replace("\n", " / ").ToString() } })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Recommending Approval", htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.CertifiedBy)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    @Html.EditorFor(model => model.CertifiedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled", Value = Model.CertifiedBy.Replace("\n", " / ").ToString() } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Procurement Management Office", htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.ProcurementOfficer)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    @Html.EditorFor(model => model.ProcurementOfficer, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled", Value = Model.PreparedBy.Replace("\n", " / ").ToString() } })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-info">
                <h6 class="p-2">APPROVAL DETAILS</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Procurement Management Office Director", htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.PreparedBy)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                    </div>
                    @Html.EditorFor(model => model.PreparedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled", Value = Model.PreparedBy.Replace("\n", " / ").ToString() } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.PreparedAt, htmlAttributes: new { @class = "control-label" })
                @if (Model.PreparedAt != null)
                {
                    @Html.HiddenFor(model => model.PreparedAt)
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(model => model.PreparedAt, new { htmlAttributes = new { @class = "form-control form-control-sm pull-right", style = "font-size: 100%", disabled = "disabled", Value = ((DateTime)Model.PreparedAt).ToString("dd MMMM yyyy") } })
                    </div>
                }
                else
                {
                    <div class="input-group mb-3 date" id="PreparedAt1" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#PreparedAt1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        @Html.EditorFor(model => Model.PreparedAt, new { htmlAttributes = new { @class = "form-control form-control-sm datetimepicker-input", data_target = "#PreparedAt1", style = "font-size: 100%", placeholder = Html.DisplayNameFor(model => Model.PreparedAt) } })
                    </div>
                    @Html.ValidationMessageFor(model => Model.PreparedAt, "", new { @class = "text-danger" })
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Bids and Awards Committee Secretariat", htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.CertifiedBy)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                    </div>
                    @Html.EditorFor(model => model.CertifiedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled", Value = Model.CertifiedBy.Replace("\n", " / ").ToString() } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.CertifiedAt, htmlAttributes: new { @class = "control-label" })
                @if (Model.PreparedAt != null && Model.CertifiedAt != null)
                {
                    @Html.HiddenFor(model => model.CertifiedAt)
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(model => model.CertifiedAt, new { htmlAttributes = new { @class = "form-control form-control-sm pull-right", style = "font-size: 100%", disabled = "disabled", Value = Model.CertifiedAt == null ? string.Empty : ((DateTime)Model.CertifiedAt).ToString("MMMM dd, yyyy") } })
                    </div>
                }
                else
                {
                    <div class="input-group mb-3 date" id="CertifiedAt1" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#CertifiedAt1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        @Html.EditorFor(model => Model.CertifiedAt, new { htmlAttributes = new { @class = "form-control form-control-sm datetimepicker-input", data_target = "#CertifiedAt1", style = "font-size: 100%", placeholder = Html.DisplayNameFor(model => Model.CertifiedAt), Value = string.Empty } })
                    </div>
                    @Html.ValidationMessageFor(model => Model.CertifiedAt, "", new { @class = "text-danger" })
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.Label("Head of Procuring Entity (HOPE)", htmlAttributes: new { @class = "control-label" })
                @Html.HiddenFor(model => model.ApprovedBy)
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-alt"></i></span>
                    </div>
                    @Html.EditorFor(model => model.ApprovedBy, new { htmlAttributes = new { @class = "form-control form-control-sm", style = "font-size: 100%", disabled = "disabled", Value = Model.ApprovedBy.Replace("\n", " / ").ToString() } })
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(model => model.ApprovedAt, htmlAttributes: new { @class = "control-label" })
                @if (Model.CertifiedAt != null && Model.ApprovedAt != null)
                {
                    @Html.HiddenFor(model => model.ApprovedAt)
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(model => model.ApprovedAt, new { htmlAttributes = new { @class = "form-control form-control-sm pull-right", style = "font-size: 100%", disabled = "disabled", Value = Model.ApprovedAt == null ? string.Empty : ((DateTime)Model.ApprovedAt).ToString("MMMM dd, yyyy") } })
                    </div>
                }
                else
                {
                    <div class="input-group mb-3 date" id="ApprovedAt1" data-target-input="nearest">
                        <div class="input-group-prepend" data-target="#ApprovedAt1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        @Html.EditorFor(model => Model.ApprovedAt, new { htmlAttributes = new { @class = "form-control form-control-sm datetimepicker-input", data_target = "#ApprovedAt1", style = "font-size: 100%", placeholder = Html.DisplayNameFor(model => Model.ApprovedAt), Value = string.Empty } })
                    </div>
                    @Html.ValidationMessageFor(model => Model.ApprovedAt, "", new { @class = "text-danger" })
                }

            </div>
        </div>
    </div>

}

@section FormFooter {
    <div class="form-group float-right">
        <button type="button" class="btn btn-primary" id="save-btn" onclick="SaveItem()"><i class="fa fa-save"></i>&nbsp; Save changes</button>
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("list","AnnualProcurementPlans", new { Area = "procurement", FiscalYear = Model.FiscalYear })'"><i class="fa fa-arrow-circle-left"></i> Back to Annual Procurement Plans</button>
    </div>
}


<script type="text/javascript">
    $(function () {
        $("#PreparedAt1").datetimepicker({
            useCurrent: true,
            defaultDate: '@DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")',
            format: 'DD MMMM YYYY hh:mm A'
        });
        $("#CertifiedAt1").datetimepicker({
            useCurrent: true,
            defaultDate: '@DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")',
            format: 'DD MMMM YYYY hh:mm A'
        });
        $("#ApprovedAt1").datetimepicker({
            useCurrent: true,
            defaultDate: '@DateTime.Now.ToString("dd MMMM yyyy hh:mm tt")',
            format: 'DD MMMM YYYY hh:mm A'
        });
    });
    function SaveItem() {
        swal.fire({
            title: "Save record?",
            text: "You are about to update this record, continue?",
            icon: "question",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#addItem").submit();
            }
            else {
                swal.fire({
                    title: "Cancelled!",
                    text: "You have cancelled saving the record.",
                    icon: "error"
                })
            }
        })
    }
    function CreateResult(data) {
        if (data.result == true) {
            swal.fire({
                title: "Record Saved!",
                text: "Record is successfully updated.",
                icon: "success"
            }).then((result) => {
                if (result.value) {
                    window.location.href = "@Url.Action("list", "AnnualProcurementPlans", new { Area = "procurement", FiscalYear = Model.FiscalYear })";
                }
            })
        }
        else {
            swal.fire({
                title: "Record Not Saved!",
                text: "Saving record failed.",
                icon: "error"
            })
        }

    }
</script>