@{
    ViewBag.Title = "Item Articles";
    ViewBag.Description = "Restore Record";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Item Articles", "list", "ItemArticles", new { Area = "administration" }, null)</li>
        <li class="breadcrumb-item">Restore</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> Restore Item Article Record</h1>
    </div>
}

@Html.Partial("_Details")

@section FormFooter {
    <div class="form-group float-right">
        @using (Ajax.BeginForm("restore", "ItemArticles", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "CreateResult" }, htmlAttributes: new { id = "addItem", Area = "administration" }))
        {
            @Html.AntiForgeryToken()
            <button type="button" class="btn btn-primary" id="save-btn" onclick="RestoreRecord()"><i class="fa fa-trash-restore"></i> Restore Record</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("restore-list","ItemArticles", new { Area = "administration" })'"><i class="fa fa-arrow-circle-left"></i> Back to List</button>
        }
    </div>
}

<script type="text/javascript">
    function RestoreRecord() {
        swal.fire({
            title: "Restore record?",
            text: "You are about to restore this purged record, continue?",
            icon: "question",
            showCancelButton: true,
        }).then((result) => {
            if (result.value) {
                $("#addItem").submit();
            }
            else {
                swal.fire({
                    title: "Cancelled!",
                    text: "You have cancelled restoring the purged record.",
                    icon: "error"
                })
            }
        })
    }
    function CreateResult(data) {
        if (data.result == true) {
            swal.fire({
                title: "Record Restored!",
                text: "Record is successfully restored.",
                icon: "success"
            }).then((result) => {
                if (result.value) {
                    window.location.href = "@Url.Action("restore-list", "ItemArticles", new { Area = "administration" })";
                }
            })
        }
        else {
            swal.fire({
                title: "Record Not Restored!",
                text: "Restoring purged record failed.",
                icon: "error"
            })
        }
    }
</script>