@model PUPFMIS.Models.SupplierEvaluation

@{
    ViewBag.Title = "Supplier's Evaluation";
    ViewBag.Description = "Evaluate Supplier";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

@section BreadCrumb {
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
        <li class="breadcrumb-item">@Html.ActionLink("Supplier's Evaluation", "index")</li>
        <li class="breadcrumb-item">Evaluate Supplier</li>
    </ol>
}

@section Header {
    <div class="col-md-12 text-right">
        <h1 class="card-title"><i class="fa fa-bookmark"></i> New Evaluation</h1>
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Supplier and Purchase Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKPurchaseOrder, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                        </div>
                        @Html.EditorFor(m => m.PurchaseOrderID, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%", disabled = "disabled" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PurchaseOrderID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKSuppliers, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                        </div>
                        @Html.EditorFor(model => model.FKSuppliers.SupplierName, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.FKSuppliers.SupplierName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKPurchaseOrder.PODate, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        @Html.EditorFor(m => m.FKPurchaseOrder.PODate, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%", disabled = "disabled" } })
                    </div>
                </div>
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKSuppliers.ContactPerson, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        @Html.EditorFor(model => model.FKSuppliers.ContactPerson, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.FKSuppliers.ContactPerson, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKItems.ItemName, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-box"></i></span>
                        </div>
                        @Html.EditorFor(model => model.FKItems.ItemName, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.FKItems.ItemName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.FKItems.ItemSpecifications, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-list"></i></span>
                        </div>
                        @Html.EditorFor(model => model.FKItems.ItemSpecifications, new { htmlAttributes = new { @class = "form-control", style = "font-size: 100%;", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.FKItems.ItemSpecifications, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h3 class="card-title">Evaluation Criteria</h3>
        <br />
        <hr />
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("CreateEvaluationCriteria")
            </div>
        </div>
    </div>
    @section FormFooter {
        <div class="form-group float-right">
            <button type="button" class="btn btn-primary" onclick="window.location = '@Url.Action("index", "SupplierEvaluation")'"><i class="fa fa-save"></i> Save Changes</button>
            <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("index","SupplierEvaluation")'"><i class="fa fa-arrow-circle-left"></i> Back</button>
        </div>
    }
}
