@model PUPFMIS.Models.SupplierEvaluation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SupplierEvaluation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FKItems.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKItems.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKOffices.OfficeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKOffices.OfficeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKPurchaseOrder.PONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKPurchaseOrder.PONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
