@model IEnumerable<PUPFMIS.Models.Item>

@{
    ViewBag.Title = "Items";
    ViewBag.Description = "Master";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

@section BreadCrumb {
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i>@Html.ActionLink("PUP-FM Portal", "index", "Home")</a></li>
    <li class="breadcrumb-item">@Html.ActionLink("Items Master", "index")</li>
    <li class="breadcrumb-item">Home</li>
</ol>
}

@section Header {
    <h3 class="card-title"><i class="fa fa-list"></i> Items List</h3>
}

<div class="row">
    <div class="col-sm-12">
        <div class="text-right">
            <button style="text-align:left;" class="btn btn-info btn-md" onclick='window.location = "@Url.Action("create", "Items")"'><i class="fa fa-plus"></i> Add New Item</button>
            <button style="text-align:left;" class="btn btn-secondary btn-md"><i class="fa fa-filter"></i> Filter</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <div class="card-body table-responsive p-sm-0">
            <table class="table table-striped table-hover" id="itemList">
                <thead>
                    <tr>
                        <th style="text-align:center;" width="30%">
                            Item
                        </th>
                        <th style="text-align:center;" width="50%">
                            @Html.DisplayNameFor(model => model.ItemSpecifications)
                        </th>
                        <th style="text-align:center;" width="20%">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center;">
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        @if (item.ItemImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.ItemImage);
                                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                            <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                                        }
                                        else
                                        {
                                            <img src='~/Content/imgs/PUPLogo.png' style="max-width:100px;max-height:100px" />
                                        }
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>
                                            <b>
                                                @Html.DisplayFor(modelItem => item.ItemName).ToString().ToUpper()
                                                @(string.IsNullOrEmpty(item.ItemShortSpecifications) ? "" : ", " + item.ItemShortSpecifications.ToString().ToUpper())
                                            </b>
                                            <small>(@Html.DisplayFor(modelItem => item.ItemCode))</small>
                                        </h6>
                                    </div>
                                </div>
                            </td>
                            <td align="justify">
                                <i>
                                    @Html.DisplayFor(modelItem => item.ItemSpecifications)
                                </i>
                                <br />
                                <br />
                                @Html.LabelFor(modelItem => item.FKItemCategoryReference) : @Html.DisplayFor(modelItem => item.FKItemCategoryReference.ItemCategoryName)
                                <br />
                                @Html.LabelFor(modelItem => item.FKIndividualUnitReference) : @Html.DisplayFor(modelItem => item.FKIndividualUnitReference.UnitName)
                                <br />
                                @Html.LabelFor(modelItem => item.FKPackagingUnitReference) : @Html.DisplayFor(modelItem => item.FKPackagingUnitReference.UnitName)
                                <br />
                                @Html.LabelFor(modelItem => item.DistributionQtyPerPack) : @Html.DisplayFor(modelItem => item.DistributionQtyPerPack) @Html.DisplayFor(modelItem => item.FKIndividualUnitReference.UnitName) / @Html.DisplayFor(modelItem => item.FKPackagingUnitReference.UnitName)
                                <br />
                                @Html.LabelFor(modelItem => item.InventoryTypeReference) : @Html.DisplayFor(modelItem => item.FKInventoryTypeReference.InventoryTypeName)
                                <br />
                                @Html.LabelFor(modelItem => item.MinimumIssuanceQty) : @Html.DisplayFor(modelItem => item.MinimumIssuanceQty) @Html.DisplayFor(modelItem => item.FKIndividualUnitReference.UnitName)
                            </td>
                            <td align="center">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" title="View Details" onclick="loadModal('@Url.Action("details","Items", new { id = item.ID })')"><i class="fa fa-eye"></i></button>
                                <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Edit Record" onclick="loadModal('@Url.Action("edit","Items", new { id = item.ID })')"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Purge Record" onclick="loadModal('@Url.Action("delete","Items", new { id = item.ID })')"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#itemList').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "order": [[1, "asc"]]
        });
    });
</script>